[main]
outputdir = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData/12_06_2021_CHIP1_Dataset
codedir = /exports/home/gloiseau/github/Sequence-Design/Analysis_Scripts/Design_Analysis
analyzedatascript = /exports/home/gloiseau/github/Sequence-Design/Analysis_Scripts/Design_Analysis/analyzeDesignData.py
requirementsfile = /exports/home/gloiseau/github/Sequence-Design/Analysis_Scripts/Design_Analysis/requirements.txt
energyfilename = energyFile.csv
outfile = /data02/gloiseau/Sequence_Design_Project/Design_Data/12_06_2021_CHIP1_Dataset/compiledDesignData.csv
submitdir = /exports/home/gloiseau/mslib/trunk_AS/condor

[analyzeDesignData]
outputdir = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData/12_06_2021_CHIP1_Dataset
plotoutputdir = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData/12_06_2021_CHIP1_Dataset/Plots/Design_Plots
energylimit = -5
densitylimit = 0.7
crossinganglelimit = -70
listaa = ['A', 'F', 'G', 'I', 'L', 'S', 'T', 'V', 'W', 'Y']
datafile = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData/12_06_2021_CHIP1_Dataset/data02/gloiseau/Sequence_Design_Project/Design_Data/12_06_2021_CHIP1_Dataset/compiledDesignData.csv
outfile = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData/12_06_2021_CHIP1_Dataset/analyzedDesignData.xlsx
kdefile = C:\Users\gjowl\Downloads\2020_09_23_kdeData.csv

[generateSubmitFile]
filename = backboneOptimization.condor
header = #Submit file for optimizing backbones and making mutants on designed sequences
batch_name = backboneOptimization
executable = /exports/home/gloiseau/mslib/trunk_AS/bin/geomRepack
output = backboneOptimization/out/$().out
log = backboneOptimization/out/$().log
error = backboneOptimization/out/$().err
arguments = --config $(configFile)
variables = configFile
variablefile = ...

