#@Author: Gilbert Loiseau
#@Date:   2022-01-07
#@Filename: requirements.txt
@Last modified by:   Gilbert Loiseau
@Last modified time: 2022-01-07

# Haven't tried if this works yet: https://pip.pypa.io/en/latest/reference/requirements-file-format/#requirements-file-format
datetime
scipy
matplotlib
os
matplotlib
numpy
pandas
re
seaborn
logomaker
random
gc
dnachisel
