[main]
outputdir = /data/github/Sequence-Design/2022_designAnalysisScripts/2022-11-20_gblock/calcEnergy/data
rawdatadir = /data02/gloiseau/Sequence_Design_Project/DesignRun2/2023-2-9_gblockAlaEnds/
datafile = /data/github/Sequence-Design/2022_designAnalysisScripts/2022-11-20_gblock/calcEnergy/data/2023-2-9_gblockAlaEnds.csv
toxgreenfile = /data/github/Sequence-Design/2022_designAnalysisScripts/2022-11-20_gblock/calcEnergy/data/toxgreen.csv
requirementsfile = /data/github/Sequence-Design/2022_designAnalysisScripts/2022-11-20_gblock/calcEnergy/requirements.txt

