[main]
outputdir = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData/12_06_2021_CHIP1_Dataset/
codedir = /exports/home/gloiseau/github/Sequence-Design/Analysis_Scripts/analyzeDesignsAndRepack/
analyzedatascript = /exports/home/gloiseau/github/Sequence-Design/Analysis_Scripts/analyzeDesignsAndRepack/analyzeDesignData.py
generatesubmitscript = /exports/home/gloiseau/github/Sequence-Design/Analysis_Scripts/analyzeDesignsAndRepack/generateSubmitFile.py
requirementsfile = /exports/home/gloiseau/github/Sequence-Design/Analysis_Scripts/analyzeDesignsAndRepack/requirements.txt
energyfilename = energyFile.csv
outfile = /data02/gloiseau/Sequence_Design_Project/Design_Data//12_06_2021_CHIP1_DatasetcompiledDesignData.csv
submitdir = /exports/home/gloiseau/mslib/trunk_AS/condor
datadir = /data02/gloiseau/Sequence_Design_Project/Design_Data//12_06_2021_CHIP1_Dataset

[analyzeDesignData]
outputdir = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData/12_06_2021_CHIP1_Dataset/
plotoutputdir = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData/12_06_2021_CHIP1_Dataset/Plots/Design_Plots/
energylimit = -5
densitylimit = 0.7
crossinganglelimit = -70
listaa = A,F,G,I,L,S,T,V,W,Y
datafile = /data02/gloiseau/Sequence_Design_Project/Design_Data//12_06_2021_CHIP1_DatasetcompiledDesignData.csv
outfile = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData/12_06_2021_CHIP1_Dataset/analyzedDesignData.xlsx
kdefile = /data02/gloiseau/Sequence_Design_Project/Design_Data/2020_09_23_kdeData.csv
variablefile = /data02/gloiseau/Sequence_Design_Project/Design_Data/repackConfigList.csv
sequenceprobabilityfile = /data02/gloiseau/Sequence_Design_Project/Design_Data/sequenceProbabilityFile.csv

[generateSubmitFile]
filename = /data02/gloiseau/Sequence_Design_Project/Design_Data/backboneOptimization.condor
header = #Submit file for optimizing backbones and making mutants on designed sequences
batchname = backboneOptimization
basedir = /data02/gloiseau/Sequence_Design_Project/vdwSequenceDesign/$(batch_name)
executable = /exports/home/gloiseau/mslib/trunk_AS/bin/geomRepack
output = $(seqDir)/$(batchName).out
log = $(seqDir)/$(batchName).log
error = $(seqDir)/$(batchName).err
arguments = '--config $(configFile)'
variables = seqDir,configFile
variablefile = /data02/gloiseau/Sequence_Design_Project/Design_Data/repackConfigList.csv

