[main]
programname = ngsAnalysis
outputdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/test/data/
datadir = /home/loiseau@ad.wisc.edu/senesDrive/General/data/data02/gloiseau/
requirementsfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/test/inputFiles/requirements.txt
fastqtotxt = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/code/fastqToTxt.pl
ngsanalysis = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/code/ngsAnalysis.py
energyanalysis = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/code/energyAnalysis.py
analyzeenergies = False
percentfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/test/allPercents.csv
countfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/test/allCounts.csv
reffile = /home/loiseau@ad.wisc.edu/senesDrive/General/data/data02/gloiseau/
namesfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/test/inputFiles/dataFilenames.csv

[ngsAnalysis]
inputdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/test/data/
outputdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/test/analyzedData/
countfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/test/allCounts.csv
percentfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/test/allPercents.csv
flowfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/test/inputFiles/flowFile.csv
reconstructionfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/test/analyzedData/reconstructionAllData.csv
countdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/test/analyzedData/reconstruction_by_count/
percentdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/test/analyzedData/reconstruction_by_percent/
gpafluor = 109804.5
g83ifluor = 39740
maltosetestdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/test/analyzedData/maltoseTest/
maltosecutoff = -95

[energyAnalysis]
outputdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/test/analyzedData/energyAnalysis/
energyfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/test/inputFiles/chipEnergyFile.csv
reconstructionfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/test/analyzedData/reconstructionAllData.csv

