[structureAnalysis]
scriptdir = /mnt/d/github/Sequence-Design/CHIP2/analyses/structureAnalysis/code
inputdir = /mnt/d/github/Sequence-Design/CHIP2/gjl_GAS//structureAnalysis/inputFiles
interfacefile = interfaceDataFile.csv
requirementsfile = requirements.txt
rawdatadirala = /mnt/d/github/Sequence-Design/CHIP2/2023-3-13_ala/pdbs
rawdatadirleu = /mnt/d/github/Sequence-Design/CHIP2/2023-3-7_leu/pdbs
optimizedpdbdir = /mnt/d/2023-8-28_pdbBBRepack/all_leu_wts
percentgpacutoff = 0
sequencefile = wt.csv
datafile = energyData_percentGpa_maltose.csv
