########################################################
#  Options from command line arguments:
#
#  NOTE: command line options take priority over the
#        ones entered with the configuration file.
########################################################
configfile                    seqDesign.config
runNumber                     44
interface                     000110011001100110000
xShift                        7.0
crossingAngle                 44.57
negAngle                      true
axialRotation                 49.66
negRot                        true
zShift                        0.56
verbose                       true

########################################################
#  Options from configuration file :
########################################################
xShift                        9.2
crossingAngle                 25.0
axialRotation                 40
zShift                        4.0
verbose                       false
helicalAxis                   helicalAxis.pdb
topFile                       top_all22_prot.inp
parFile                       par_all22_prot.inp
solvFile                      solvpar22.inp
rotLibFile                    rotlib_combined_-60_-40.txt
terminiRotLibFile             EBL_11-2011_CHARMM22.txt
backboneCrd                   69-gly-residue-helix.crd
hbondFile                     par_hbond_CA_2.txt
pdbOutputDir                  sequenceDesign
infile                        69-gly-residue-helix.pdb
backboneFile                  69-gly-residue-helix.pdb
geometryDensityFile           2021_10_11_geometryDensityFile.txt
selfEnergyFileSPM             2021_08_30_selfBaselineLILI.txt
pairEnergyFileSPM             2021_08_30_pairBaselineLILI.txt
selfEnergyFile                2021_11_22_IMM1SelfBaseline.txt
pairEnergyFile                2021_11_22_IMM1PairBaseline.txt
seqEntropyFile                2021_12_05_seqEntropies.txt
AACompositionPenaltyFile      AACompositionPenalties.out
transform                     true
thread                        23
getGeoFromPDBData             false
vdWEnergyCutoff               -30
weight_seqEntropy             1
backboneAA                    V
backboneLength                21
linkInterfacialPositions      false
useSasa                       true
MCCycles                      200
MCMaxRejects                  5
MCStartTemp                   1000
MCEndTemp                     0.5
MCCurve                       3
seed                          1
greedyCycles                  3
backboneMCCycles              100
backboneMCMaxRejects          5
backboneMCStartTemp           100
backboneMCEndTemp             0.5
backboneMCCurve               3
SL                            95.00
SLInterface                   95.00
runDEESingles                 false
runDEEPairs                   false
runSCMF                       true
useAlaAtCTerminus             false
useBaseline                   true
Ids                           LEU ALA SER VAL ILE THR TRP TYR PHE GLY
runMCAfterSPM                 true
energyLandscape               true
numStatesToSave               10
deltaZ                        0.3
deltaAx                       3.0
deltaCross                    3.0
deltaX                        0.3
numRepacks                    1
getRandomAxRotAndZShift       false
sasaRepackLevel               SL95.00
sasaRepackLevel               SL95.00
sasaRepackLevel               SL85.00
sasaRepackLevel               SL60.00
interfaceLevel                2
energyLandscapeTerms          EnergyBeforeLocalMC Dimer Baseline VDWDimer HBONDDimer EnergyBeforeLocalMCw/seqEntropy
energyTermsToOutput           Total Dimer Monomer VDWDimer VDWMonomer VDWDiff HBONDDimer HBONDMonomer HBONDDiff IMM1Monomer IMM1Dimer IMM1Diff Baseline Baseline-Monomer MonomerSasa DimerSasa InterfaceSasa SequenceProbability SequenceNumber acceptCycleNumber xShift crossingAngle axialRotation zShift
energyTermList                CHARMM_VDW SCWRL4_HBOND CHARMM_IMM1 CHARMM_IMM1REF

