[main]
kdefile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/2023_designData/inputFiles/2020_09_23_kdeData.csv
seqentropyfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/2023_designData/inputFiles/2021_12_05_seqEntropies.csv
sequenceprobabilitiesfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/2023_designData/inputFiles/2021_12_05_sequenceProbabilities.csv
requirementsfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/2023_designData/inputFiles/requirements.txt
compileenergyscript = /home/loiseau@ad.wisc.edu/github/Sequence-Design/2023_designData/code/compileEnergyFiles.py
designanalysisscript = /home/loiseau@ad.wisc.edu/github/Sequence-Design/2023_designData/code/analyzeDesignData.py
createpsescript = /home/loiseau@ad.wisc.edu/github/Sequence-Design/2023_designData/code/createPymolSessionFiles.py
createBackboneRepackScript = /home/loiseau@ad.wisc.edu/github/Sequence-Design/2023_designData/code/createBackboneRepackFile.py
outputdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/2023_designData/2023-3-7_leuDesigns_test
rawdatadir = /home/loiseau@ad.wisc.edu/DesignRuns/2023-3-7_leuDesigns
datafile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/2023_designData/2023-3-7_leuDesigns_test/allData.csv
numseqs = 10
