[main]
kdefile = /mnt/d/github/Sequence-Design/2023_designData/inputFiles/2020_09_23_kdeData.csv
seqentropyfile = /mnt/d/github/Sequence-Design/2023_designData/inputFiles/2021_12_05_seqEntropies.csv
sequenceprobabilitiesfile = /mnt/d/github/Sequence-Design/2023_designData/inputFiles/2021_12_05_sequenceProbabilities.csv
requirementsfile = /mnt/d/github/Sequence-Design/2023_designData/inputFiles/requirements.txt
compileenergyscript = /mnt/d/github/Sequence-Design/2023_designData/code/compileEnergyFiles.py
designanalysisscript = /mnt/d/github/Sequence-Design/2023_designData/code/analyzeDesignData.py
createpsescript = /mnt/d/github/Sequence-Design/2023_designData/code/createPymolSessionFiles.py
createBackboneRepackScript = /mnt/d/github/Sequence-Design/2023_designData/code/createBackboneRepackFile.py
outputdir = /mnt/d/github/Sequence-Design/2023_designData/2023-3-7_leuDesigns_test
rawdatadir = /mnt/d/DesignRuns/2023-3-7_leuDesigns
datafile = /mnt/d/github/Sequence-Design/2023_designData/2023-3-7_leuDesigns_test/allData.csv
numseqs = 10
