[main]
requirementsfile = /mnt/c/Users/gjowl/github/Sequence-Design/2022_designAnalysisScripts/rosetta/inputFiles/requirements.txt
untarfolder = /mnt/c/Users/gjowl/github/Sequence-Design/2022_designAnalysisScripts/rosetta/code/untarFolders.py
addpdbstodir = /mnt/c/Users/gjowl/github/Sequence-Design/2022_designAnalysisScripts/rosetta/code/addPdbsToDir.py
createcalcenergycsv = /mnt/c/Users/gjowl/github/Sequence-Design/2022_designAnalysisScripts/rosetta/code/createCalcEnergyCsv.py
outputdir = /mnt/c/Users/gjowl/github/Sequence-Design/2022_designAnalysisScripts/rosetta/2023-2-14_alaDesigns

