[main]
requirementsfile = /mnt/d/github/Sequence-Design/2022_designAnalysisScripts/rosetta/extractPdbsForCalcEnergy/requirements.txt
inputdir = /mnt/c/Users/gjowl/Downloads/gblock_rosetta
untarfolders = /mnt/d/github/Sequence-Design/2022_designAnalysisScripts/rosetta/extractPdbsForCalcEnergy/code/untarFolders.py
addpdbstodir = /mnt/d/github/Sequence-Design/2022_designAnalysisScripts/rosetta/extractPdbsForCalcEnergy/code/addPdbsToDir.py
createcalcenergycsv = /mnt/d/github/Sequence-Design/2022_designAnalysisScripts/rosetta/extractPdbsForCalcEnergy/code/createCalcEnergyCsv.py
outputdir = /mnt/d/github/Sequence-Design/2022_designAnalysisScripts/rosetta/extractPdbsForCalcEnergy/gblock_rosetta
extractiondir = /mnt/d/github/Sequence-Design/2022_designAnalysisScripts/rosetta/extractPdbsForCalcEnergy/gblock_rosetta/gblock_rosetta_extracted
pdbdir = /mnt/d/github/Sequence-Design/2022_designAnalysisScripts/rosetta/extractPdbsForCalcEnergy/gblock_rosetta/gblock_rosetta_pdbs
outputfile = gblock_rosetta_calcEnergy.csv

