[main]
programname = ngsAnalysis
outputdir = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/SMA-reconstruction/data/
datadir = /data/NGS/
requirementsfile = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/SMA-reconstruction/inputFiles/requirements.txt
fastqtotxt = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/code/fastqTotxt.pl
ngsanalysis = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/code/ngsAnalysis.py
percentfile = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/SMA-reconstruction/inputFiles/allPercents.csv
countfile = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/SMA-reconstruction/inputFiles/allCounts.csv
reffile = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/SMA-reconstruction/inputFiles/referenceSeqs.csv
namesfile = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/SMA-reconstruction/inputFiles/dataFilenames.csv

[ngsAnalysis]
inputdir = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/SMA-reconstruction/data/
outputdir = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/SMA-reconstruction/analyzedData/
countfile = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/SMA-reconstruction/inputFiles/allCounts.csv
percentfile = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/SMA-reconstruction/inputFiles/allPercents.csv
flowfile = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/SMA-reconstruction/inputFiles/flowFile.csv
energyfile = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/SMA-reconstruction/inputFiles/chipEnergyFile.csv
countdir = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/SMA-reconstruction/analyzedData/reconstruction_by_count/
percentdir = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/SMA-reconstruction/analyzedData/reconstruction_by_percent/
maltosetestdir = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/SMA-reconstruction/analyzedData/maltoseTest/

