[main]
outputdir = /data/github/Sequence-Design/2022_designAnalysisScripts/CHIP1_reanalysis/calcEnergy/CHIP1_data
rawdatadir = /data02/gloiseau/Sequence_Design_Project/CHIP1_DesignData/2023-2-14_calcEnergyCHIP1/
datafile = /data/github/Sequence-Design/2022_designAnalysisScripts/CHIP1_reanalysis/calcEnergy/CHIP1_data/2023-2-14_calcEnergyCHIP1.csv
toxgreenfile = /data/github/Sequence-Design/2022_designAnalysisScripts/CHIP1_reanalysis/calcEnergy/designs_with_energyDiff.csv
requirementsfile = /data/github/Sequence-Design/2022_designAnalysisScripts/CHIP1_reanalysis/calcEnergy/requirements.txt

