[main]
codeDir = /mnt/d/github/Sequence-Design/CHIP2/analyses/sequenceAnalysis/code
clashDir = /mnt/d/github/Sequence-Design/CHIP2/analyses/pdbOptimizationAnalysis/gasRight/ala_gasRight
outputdir = /mnt/d/github/Sequence-Design/CHIP2/analyses/sequenceAnalysis/gasRight/ala_gasRight
requirementsfile = /mnt/d/github/Sequence-Design/2022-2023_gblock/calcEnergy/requirements.txt
sequenceFile = wt/lowestEnergySequences.csv
mutantFile = mutant/lowestEnergySequences.csv