[main]
codeDir = /mnt/d/github/Sequence-Design/CHIP2/analyses/sequenceAnalysis/code
clashDir = /mnt/d/github/Sequence-Design/CHIP2/analyses/pdbOptimizationAnalysis/leu_clashAnalysis_rerun
outputdir = /mnt/d/github/Sequence-Design/CHIP2/analyses/sequenceAnalysis/clash_rerun
requirementsfile = /mnt/d/github/Sequence-Design/2022-2023_gblock/calcEnergy/requirements.txt
sequenceFile = wt/lowestEnergySequences.csv
mutantFile = mutant/lowestEnergySequences.csv