[main]
codeDir = /mnt/c/Users/gjowl/github/Sequence-Design/CHIP2/analyses/sequenceAnalysis/code
clashDir = /mnt/c/Users/gjowl/github/Sequence-Design/CHIP2/analyses/pdbOptimizationAnalysis/gasRight/ala_gasRight
outputdir = /mnt/c/Users/gjowl/github/Sequence-Design/CHIP2/analyses/sequenceAnalysis/gasRight/ala_gasRight
requirementsfile = /mnt/c/Users/gjowl/github/Sequence-Design/2022-2023_gblock/calcEnergy/requirements.txt
sequenceFile = disruptionData/wt/lowestEnergySequences.csv
mutantFile = disruptionData/mutant/lowestEnergySequences.csv