[main]
programname = ngsAnalysis
outputdir = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/code/data/
datadir = /mnt/d/2022-5-13/
requirementsfile = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/code/inputFiles/requirements.txt
fastqtotxt = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/code/fastqTotxt.pl
ngsanalysis = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/code/ngsAnalysis.py
energyanalysis = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/code/energyAnalysis.py
analyzeenergies = True
percentfile = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/code/inputFiles/allPercents.csv
countfile = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/code/inputFiles/allCounts.csv
reffile = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/code/inputFiles/refSeqs.csv
namesfile = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/code/inputFiles/dataFilenames.csv

[ngsAnalysis]
inputdir = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/code/data/
outputdir = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/code/analyzedData/
countfile = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/code/inputFiles/allCounts.csv
percentfile = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/code/inputFiles/allPercents.csv
flowfile = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/code/inputFiles/flowFile.csv
reconstructionfile = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/code/analyzedData/reconstructionFile.csv
countdir = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/code/analyzedData/reconstruction_by_count/
percentdir = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/code/analyzedData/reconstruction_by_percent/
maltosetestdir = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/code/analyzedData/maltoseTest/

[energyAnalysis]
outputdir = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/code/analyzedData/energyAnalysis/
energyfile = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/code/inputFiles/chipEnergyFile.csv
reconstructionfile = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/code/analyzedData/reconstructionFile.csv

