[pdbOptimizationAnalysis]
codedir = /mnt/d/github/Sequence-Design/CHIP2/analyses/pdbOptimizationAnalysis/code
inputdir = /mnt/d/github/Sequence-Design/CHIP2/2024-7-6_updatedRepacks//pdbOptimizationAnalysis/inputFiles
scriptdir = /mnt/d/github/Sequence-Design/CHIP2/analyses/pdbOptimizationAnalysis/code
rawdatadir = /mnt/d/2024-6-12_CHIP2_optimized_data/CHIP2_all_updated/
datafile = leu_data
mutantfile = mutant_fluor_energy_data.csv
sequencefile = sequence_fluor_energy_data.csv
toxgreenfile = all.csv
strippedsequencefile = strippedSequenceFile
requirementsfile = requirements.txt
clashscript = /mnt/d/github/Sequence-Design/CHIP2/analyses/pdbOptimizationAnalysis/code/keepBestClashing_v2.py
kdefile = 2020_09_23_kdeData.csv
mutant_cutoff = 0, 0.35
percent_cutoff = 0, 0.25, 0.5, .75
number_of_mutants_cutoff = 0, 1, 2
maltosefile = percentDifference.csv
maltosecol = LB-0H_M9-30H
maltoseseq = VVATSLVVLTLGVLLAFL
