[main]
programname = ngsAnalysis
outputdir = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/SMA-reconstruction/data/
datadir = /mnt/d/SMA-NGS/binFiles/
requirementsfile = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/SMA-reconstruction/inputFiles/requirements.txt
fastqtotxt = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/code/fastqTotxt.pl
ngsanalysis = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/code/ngsAnalysis.py
percentfile = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/SMA-reconstruction/inputFiles/allPercents.csv
countfile = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/SMA-reconstruction/inputFiles/allCounts.csv
reffile = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/SMA-reconstruction/inputFiles/referenceSeqs.csv
namesfile = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/SMA-reconstruction/inputFiles/dataFilenames.csv

[ngsAnalysis]
inputdir = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/SMA-reconstruction/data/
outputdir = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/SMA-reconstruction/analyzedData/
countfile = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/SMA-reconstruction/inputFiles/allCounts.csv
percentfile = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/SMA-reconstruction/inputFiles/allPercents.csv
flowfile = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/SMA-reconstruction/inputFiles/flowFile.csv
energyfile = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/SMA-reconstruction/inputFiles/chipEnergyFile.csv
countdir = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/SMA-reconstruction/analyzedData/reconstruction_by_count/
percentdir = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/SMA-reconstruction/analyzedData/reconstruction_by_percent/
maltosetestdir = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/SMA-reconstruction/analyzedData/maltoseTest/

