[main]
outputdir = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData
codedir = /exports/home/gloiseau/github/Sequence-Design/Analysis Scripts/Design Analysis

[compileDesignData]
outputdir = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData
datadir = /data02/gloiseau/Sequence_Design_Project/Design_Data/12_06_2021_CHIP1_Dataset
outfile = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData/compiledDesignData.csv

[analyzerConfig]
outputdir = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData
energylimit = -5
densitylimit = 0.7
listaa = ['A', 'F', 'G', 'I', 'L', 'S', 'T', 'V', 'W', 'Y']
datafile = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData/compiledDesignData.csv

