[main]
codeDir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/2023-8-31_analyses/2023-8-28_calcEnergyCompare/code
outputdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/2023-8-31_analyses/2023-8-28_calcEnergyCompare/gasRight
rawdatadir = /home/loiseau@ad.wisc.edu/senesDrive/General/data/data02/gloiseau/JC_data/JC_design_data/leucine_ends/
datafile = gasRight_leu 
toxgreenfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/2023-8-31_analyses/2023-8-28_calcEnergyCompare/JC_reconstruction_data.csv
requirementsfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/2022-2023_gblock/calcEnergy/requirements.txt
clashScript = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/2023-8-31_analyses/clashingAnalysis/code/checkMostClashyMutants.py
clashInputDir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/fluorescenceAnalysis/GASright_analysis/percentGpA_GAS/sequenceVsMutant/clash
clashOutputDir = clashData
wt_cutoff = 0.35
mutant_cutoff = 0.35
percent_wt_cutoff = 0.5