[main]
codeDir = /mnt/d/github/Sequence-Design/CHIP2/2023-8-31_analyses/2023-8-28_calcEnergyCompare/code
outputdir = /mnt/d/github/Sequence-Design/CHIP2/2023-8-31_analyses/2023-8-28_calcEnergyCompare/ala_all
rawdatadir = /mnt/d/2023-8-28_pdbBBRepack/ala_all/
datafile = ala_data
toxgreenfile = /mnt/d/github/Sequence-Design/CHIP2/2023-8-31_analyses/2023-8-28_calcEnergyCompare/stripped_seq_fluorData.csv
requirementsfile = /mnt/d/github/Sequence-Design/2022-2023_gblock/calcEnergy/requirements.txt
clashScript = /mnt/d/github/Sequence-Design/CHIP2/2023-8-31_analyses/clashingAnalysis/code/checkMostClashyMutants.py
clashInputDir = /mnt/d/github/Sequence-Design/CHIP2/fluorescenceAnalysis/analysis_with_toxgreenSeqs_percentGpA/sequenceVsMutant/clash
clashOutputDir = clashData
wt_cutoff = 0.35
mutant_cutoff = 0.35
percent_cutoff = 0.5


