[main]
codeDir = /mnt/d/github/Sequence-Design/CHIP2/analyses/pdbOptimizationAnalysis/code
outputdir = /mnt/d/github/Sequence-Design/CHIP2/analyses/pdbOptimizationAnalysis/leu_all_mutant_stdFix
rawdatadir = /mnt/d/senesDrive/General/data/data02/gloiseau/2020-2024_Sequence_Design_Project/2022-2023_DesignData/2023-9-5_allSeqsLeuEnds_bbOptimized
datafile = leu_data
toxgreenfile = /mnt/d/github/Sequence-Design/CHIP2/analyses/pdbOptimizationAnalysis/inputFiles/stdFix_stripped_seqs.csv
requirementsfile = /mnt/d/github/Sequence-Design/2022-2023_gblock/calcEnergy/requirements.txt
clashScript = /mnt/d/github/Sequence-Design/CHIP2/analyses/clashingAnalysis/code/checkMostClashyMutants.py
clashInputDir = /mnt/d/github/Sequence-Design/CHIP2/fluorescenceAnalysis/analysis_with_toxgreenSeqs_percentGpA_stdFix/sequenceVsMutant/all
clashOutputDir = disruptionData
wt_cutoff = 0.35
mutant_cutoff = 0.35
percent_wt_cutoff = 0.5


