[main]
codeDir = /mnt/d/github/Sequence-Design/CHIP2/analyses/pdbOptimizationAnalysis/code
outputdir = /mnt/d/github/Sequence-Design/CHIP2/analyses/pdbOptimizationAnalysis/gasRight/leu_gasRight
rawdatadir = /mnt/d/gasRight_designs/JC_leu/
datafile = gasRight_leu
toxgreenfile = /mnt/d/github/Sequence-Design/CHIP2/analyses/pdbOptimizationAnalysis/inputFiles/JC_reconstruction_data.csv
requirementsfile = /mnt/d/github/Sequence-Design/2022-2023_gblock/calcEnergy/requirements.txt
disruptionScript = /mnt/d/github/Sequence-Design/CHIP2/analyses/clashingAnalysis/code/keepBestClashing.py
disruptionInputDir = /mnt/d/github/Sequence-Design/CHIP2/fluorescenceAnalysis/GASright_analysis/percentGpA_GAS/sequenceVsMutant/all
kdeFile = /mnt/d/github/Sequence-Design/CHIP2/analyses/pdbOptimizationAnalysis/inputFiles/2020_09_23_kdeData.csv
mutant_cutoff = 0.25, 0.25, 0.30, 0.30, 0.35, 0.35, 0.40, 0.40
percent_cutoff = 0.5, .75, 0.5, .75, 0.5, .75, 0.5, .75
number_of_mutants_cutoff = 1