[main]
outputdir = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData/12_06_2021_CHIP1_Dataset/
codedir = /exports/home/gloiseau/github/Sequence-Design/Analysis_Scripts/backboneOptimizationAnalysis/
compiledatascript = /exports/home/gloiseau/github/Sequence-Design/Analysis_Scripts/backboneOptimizationAnalysis/compileOptimizationDataFiles.py
analyzedatascript = /exports/home/gloiseau/github/Sequence-Design/Analysis_Scripts/backboneOptimizationAnalysis/backboneOptimizationAnalysis.py
preparechipscript = /exports/home/gloiseau/github/Sequence-Design/Analysis_Scripts/backboneOptimizationAnalysis/prepareCHIP.py
requirementsfile = /exports/home/gloiseau/github/Sequence-Design/Analysis_Scripts/backboneOptimizationAnalysis/requirements.txt
outfile = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData/12_06_2021_CHIP1_Dataset/compiledOptimizationData.csv

[compileOptimizationDataFiles]
outputdir = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData/12_06_2021_CHIP1_Dataset/
datadir = /data02/gloiseau/Sequence_Design_Project/Design_Data/12_06_2021_CHIP1_Dataset/
outfile = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData/12_06_2021_CHIP1_Dataset/compiledOptimizationData.csv

[backboneOptimizationAnalysis]
outputdir = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData/12_06_2021_CHIP1_Dataset/
plotdir = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData/12_06_2021_CHIP1_Dataset/Plots/BackboneOptimizationPlots/
energylimit = -5
densitylimit = 0.7
listaa = A,F,G,I,L,S,T,V,W,Y
datafile = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData/12_06_2021_CHIP1_Dataset/compiledOptimizationData.csv
outfile = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData/12_06_2021_CHIP1_Dataset/backboneOptimizationAnalysis.xlsx
kdefile = /data02/gloiseau/Sequence_Design_Project/Design_Data/2020_09_23_kdeData.csv
numsequences = 8
totalsegments = 12
sequencesperbin = 80
sequencespersegment = 500
numrandom = 60
redundant = True
seed = 1

[prepareCHIP]
outputdir = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData/12_06_2021_CHIP1_Dataset/
inputfile = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData/12_06_2021_CHIP1_Dataset/backboneOptimizationAnalysis.xlsx
primerfile = /data02/gloiseau/Sequence_Design_Project/Design_Data/Primers.csv
outputfile = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData/12_06_2021_CHIP1_Dataset/CHIP.xlsx
seed = 1

