[main]
kdefile = /mnt/d/github/Sequence-Design/2022_designAnalysisScripts/inputFiles/2020_09_23_kdeData.csv
seqentropyfile = /mnt/d/github/Sequence-Design/2022_designAnalysisScripts/inputFiles/2021_12_05_seqEntropies.csv
sequenceprobabilitiesfile = /mnt/d/github/Sequence-Design/2022_designAnalysisScripts/inputFiles/2021_12_05_sequenceProbabilities.csv
requirementsfile = /mnt/d/github/Sequence-Design/2022_designAnalysisScripts/inputFiles/requirements.txt
compileenergyscript = /mnt/d/github/Sequence-Design/2022_designAnalysisScripts/code/compileEnergyFiles.py
designanalysisscript = /mnt/d/github/Sequence-Design/2022_designAnalysisScripts/code/analyzeDesignData.py
createpsescript = /mnt/d/github/Sequence-Design/2022_designAnalysisScripts/code/createPymolSessionFiles.py
outputdir = /mnt/d/github/Sequence-Design/2022_designAnalysisScripts/2023-2-23_leuDesigns
rawdatadir = /mnt/c/Users/gjowl/Downloads/2023-2-23_leuDesigns
datafile = /mnt/d/github/Sequence-Design/2022_designAnalysisScripts/2023-2-23_leuDesigns/compiledData.csv
numseqs = 10

