[ngsReconstruction]
programname = ngsAnalysis
outputdir = /mnt/d/github/Sequence-Design/ngsReconstruction/ngsReconstruction_example/
extractiondir = /mnt/d/github/Sequence-Design/ngsReconstruction/ngsReconstruction_example/data/
datadir = /mnt/d/github/Sequence-Design/ngsReconstruction/ngsReconstruction_example/example_data/
requirementsfile = /mnt/d/github/Sequence-Design/ngsReconstruction/ngsReconstruction_example/inputFiles/requirements.txt
fastqtotxt = /mnt/d/github/Sequence-Design/ngsReconstruction/code/fastqToTxt.pl
ngsanalysis = /mnt/d/github/Sequence-Design/ngsReconstruction/code/ngsAnalysis.py
energyanalysis = /mnt/d/github/Sequence-Design/ngsReconstruction/code/energyAnalysis.py
analyzeenergies = True
percentfile = /mnt/d/github/Sequence-Design/ngsReconstruction/ngsReconstruction_example/allPercents.csv
countfile = /mnt/d/github/Sequence-Design/ngsReconstruction/ngsReconstruction_example/allCounts.csv
reffile = /mnt/d/github/Sequence-Design/ngsReconstruction/ngsReconstruction_example/inputFiles/refSeqs.csv
namesfile = /mnt/d/github/Sequence-Design/ngsReconstruction/ngsReconstruction_example/inputFiles/dataFilenames.csv
gpa = LIIFGVMAGVIGT
g83i = LIIFGVMAIVIGT

[ngsAnalysis]
inputdir = /mnt/d/github/Sequence-Design/ngsReconstruction/ngsReconstruction_example/data/
outputdir = /mnt/d/github/Sequence-Design/ngsReconstruction/ngsReconstruction_example/reconstructedData/
countfile = /mnt/d/github/Sequence-Design/ngsReconstruction/ngsReconstruction_example/Count.csv
percentfile = /mnt/d/github/Sequence-Design/ngsReconstruction/ngsReconstruction_example/Percentage.csv
flowfile = /mnt/d/github/Sequence-Design/ngsReconstruction/ngsReconstruction_example/inputFiles/flowFile_sort_percents.csv
reconstructionfile = /mnt/d/github/Sequence-Design/ngsReconstruction/ngsReconstruction_example/reconstructedData/reconstructionAllData.csv
countdir = /mnt/d/github/Sequence-Design/ngsReconstruction/ngsReconstruction_example/reconstructedData/reconstruction_by_count/
percentdir = /mnt/d/github/Sequence-Design/ngsReconstruction/ngsReconstruction_example/reconstructedData/reconstruction_by_percent/
maltosetestdir = /mnt/d/github/Sequence-Design/ngsReconstruction/ngsReconstruction_example/reconstructedData/maltoseTest/