[ngsReconstruction]
programname = ngsAnalysis
extractiondir = /mnt/d/github/Sequence-Design/ngsReconstruction/JC_CHIP4/data/
outputdir = /mnt/d/github/Sequence-Design/ngsReconstruction/JC_CHIP4/
datadir = /mnt/d/JC_CHIP4/decompressed_fwd/
requirementsfile = /mnt/d/github/Sequence-Design/ngsReconstruction/JC_CHIP4/inputFiles/requirements.txt
fastqtotxt = /mnt/d/github/Sequence-Design/ngsReconstruction/code/fastqToTxt.pl
ngsanalysis = /mnt/d/github/Sequence-Design/ngsReconstruction/code/ngsAnalysis.py
energyanalysis = /mnt/d/github/Sequence-Design/ngsReconstruction/code/energyAnalysis.py
analyzeenergies = False
percentfile = /mnt/d/github/Sequence-Design/ngsReconstruction/JC_CHIP4/Percentage.csv
countfile = /mnt/d/github/Sequence-Design/ngsReconstruction/JC_CHIP4/Count.csv
reffile = /mnt/d/github/Sequence-Design/ngsReconstruction/JC_CHIP4/inputFiles/refSeqs.csv
namesfile = /mnt/d/github/Sequence-Design/ngsReconstruction/JC_CHIP4/inputFiles/dataFilenames.csv

[ngsAnalysis]
inputdir = /mnt/d/github/Sequence-Design/ngsReconstruction/JC_CHIP4/data/
outputdir = /mnt/d/github/Sequence-Design/ngsReconstruction/JC_CHIP4/analyzedData/
countfile = /mnt/d/github/Sequence-Design/ngsReconstruction/JC_CHIP4/Count.csv
percentfile = /mnt/d/github/Sequence-Design/ngsReconstruction/JC_CHIP4/Percentage.csv
flowfile = /mnt/d/github/Sequence-Design/ngsReconstruction/JC_CHIP4/inputFiles/flow_flowFile.csv
reconstructionfile = /mnt/d/github/Sequence-Design/ngsReconstruction/JC_CHIP4/analyzedData/reconstructionAllData.csv
countdir = /mnt/d/github/Sequence-Design/ngsReconstruction/JC_CHIP4/analyzedData/reconstruction_by_count/
percentdir = /mnt/d/github/Sequence-Design/ngsReconstruction/JC_CHIP4/analyzedData/reconstruction_by_percent/
gpa = LIIFGVMAGVIGT
g83i = LIIFGVMAIVIGT
gpafluor = 67960
g83ifluor = 23514
noTMfluor = 9754
maltosetestdir = /mnt/d/github/Sequence-Design/ngsReconstruction/JC_CHIP4/analyzedData/maltoseTest/
maltosecutoff = -95

[energyAnalysis]
outputdir = /mnt/d/github/Sequence-Design/ngsReconstruction/JC_CHIP4/analyzedData/energyAnalysis/
energyfile = /mnt/d/github/Sequence-Design/ngsReconstruction/JC_CHIP4/inputFiles/chipEnergyFile.csv
reconstructionfile = /mnt/d/github/Sequence-Design/ngsReconstruction/JC_CHIP4/analyzedData/reconstructionAllData.csv

