[main]
design_data_file = /home/loiseau@ad.wisc.edu/github/Sequence-Design/voidAnalysis/allData_ala.csv
raw_data_dir = /home/loiseau@ad.wisc.edu/Downloads/2023-3-13_alaCHIP_mutants_rerun_2
compile_file = 2023-3-13_alaCHIP_mutants_rerun_2_void_compiled.csv
file_to_compile = sasaMap.txt
delimiter = ,
appended_file = 2023-3-13_alaCHIP_mutants_rerun_2_void_extended.csv
one_hot_file = 2023-3-13_alaCHIP_mutants_rerun_2_void_interface_mutants.csv
one_hot_columns = Mutant Sequence
analyze_file = 2023-3-13_alaCHIP_mutants_rerun_2_void_CHIP2Seqs.csv
output_dir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/voidAnalysis/2023-3-13_alaCHIP_mutants_rerun_2_void

