[main]
design_data_file = /mnt/d/github/Sequence-Design/voidAnalysis/CHIPSeqs_ala.csv
raw_data_dir = /mnt/d/DesignRuns/2023-3-13_alaCHIP_mutants
compile_file = 2023-3-13_alaCHIP_mutants_void_compiled.csv
file_to_compile = sasaMap.txt
delimiter = ,
appended_file = 2023-3-13_alaCHIP_mutants_void_extended.csv
one_hot_file = 2023-3-13_alaCHIP_mutants_void_interface_mutants.csv
one_hot_columns = Mutant Sequence
analyze_file = 2023-3-13_alaCHIP_mutants_void_CHIP2Seqs.csv
output_dir = /mnt/d/github/Sequence-Design/voidAnalysis/2023-3-13_alaCHIP_mutants_void

