[runAllAnalysis]
toxgreenConversion = toxgreenConversion.py
pdbOptimizationAnalysis = pdbOptimizationAnalysis.py
sequenceAnalysis = sequenceAnalysis.py
structureAnalysis = structureAnalysis.py
hbondAnalysis = hbondAnalysis.py
outputDir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/JC_CHIP4
analysisCodeDir = analyses
runToxgreenConversion = true
runPdbOptimizationAnalysis = true
runSequenceAnalysis = false
runStructureAnalysis = false
runHbondAnalysis = false
helperScript = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/analyses/helperCode.py

[toxgreenConversion]
requirementsfile = requirements.txt
inputDir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/analyses/toxgreenConversion/GASright_analysis/inputFiles
reconstructionFile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/JC_CHIP4/analyzedData/reconstructionAllData.csv
wtSequenceComputationFile = reconstructionAllData.csv
mutantSequenceComputationFile = All_GAS_to_I.csv
scriptDir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/analyses/toxgreenConversion/code
adjustFluorScript = adjustFluorByControlFlow_percentGpA_stdFix_fluor.py
controlFlowFile = controlToxgreen.csv
filteringScript = filterWithComputation_percentGpA_stdFix_CHIP4.py
filteringDir = filtered
graphingDir = graphed
sequenceVsMutantScript = sequenceVsMutant.py
seqDir = sequenceVsMutant
graphScript = graphComputationVsExperiment.py
graphScript2 = graphDesignWts.py
runAdjustFluor = true 
runFilterWithComputation = true
runSequenceVsMutant = true
runFilterBeforeGraphing = true 
runGraphing = true 

[pdbOptimizationAnalysis]
codeDir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/analyses/pdbOptimizationAnalysis/code
inputDir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/analyses/pdbOptimizationAnalysis/inputFiles
scriptDir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/analyses/pdbOptimizationAnalysis/code
rawdatadir = /home/loiseau@ad.wisc.edu/senesDrive/General/data/data02/gloiseau/JC_data/JC_design_data/pdbs_repacked_leucine_ends/JC_wt/
sequenceFile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/JC_CHIP4/toxgreenConversion/filtered/sequence_fluor_energy_data.csv
mutantFile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/JC_CHIP4/toxgreenConversion/filtered/mutant_fluor_energy_data.csv
toxgreenFile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/JC_CHIP4/toxgreenConversion/filtered/all.csv
requirementsfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/2022-2023_gblock/calcEnergy/requirements.txt
clashScript = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/analyses/pdbOptimizationAnalysis/code/keepBestClashing.py
clashInputDir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/JC_CHIP4/toxgreenConversion/sequenceVsMutant/all
kdeFile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/analyses/pdbOptimizationAnalysis/inputFiles/2020_09_23_kdeData.csv
mutant_cutoff = 0, 0.35
percent_cutoff = 0, 0.5
number_of_mutants_cutoff = 1
maltoseFile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/JC_maltose_2023-12/fwd/reconstructedData/maltoseTest/percentDifference.csv
#maltoseSeq = LIVVLFGISITGGLFYTL
maltoseSeq = VVATSLVVLTLGVLLAFL
maltoseCol = LB-0H_M9-30H

[sequenceAnalysis]
codeDir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/analyses/sequenceAnalysis/code
clashDir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/JC_GAS/analyses/pdbOptimizationAnalysis/
requirementsfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/2022-2023_gblock/calcEnergy/requirements.txt
sequenceFile = wt/plotData.csv
mutantFile = mutant/lowestEnergySequences.csv