[main]
kdefile = /data/github/Sequence-Design/2022_designAnalysisScripts/inputFiles/2020_09_23_kdeData.csv
seqentropyfile = /data/github/Sequence-Design/2022_designAnalysisScripts/inputFiles/2021_12_05_seqEntropies.csv
sequenceprobabilitiesfile = /data/github/Sequence-Design/2022_designAnalysisScripts/inputFiles/2021_12_05_sequenceProbabilities.csv
requirementsfile = /data/github/Sequence-Design/2022_designAnalysisScripts/inputFiles/requirements.txt
compileenergyscript = /data/github/Sequence-Design/2022_designAnalysisScripts/code/compileEnergyFiles.py
designanalysisscript = /data/github/Sequence-Design/2022_designAnalysisScripts/code/analyzeDesignData_v3.py
createpsescript = /data/github/Sequence-Design/2022_designAnalysisScripts/code/createPymolSessionFiles.py
outputdir = /data/github/Sequence-Design/2022_designAnalysisScripts/gasright_data

[analyzeDesignData]
kdefile = /data/github/Sequence-Design/2022_designAnalysisScripts/inputFiles/2020_09_23_kdeData.csv
seqentropyfile = /data/github/Sequence-Design/2022_designAnalysisScripts/inputFiles/2021_12_05_seqEntropies.csv
sequenceprobabilitiesfile = /data/github/Sequence-Design/2022_designAnalysisScripts/inputFiles/2021_12_05_sequenceProbabilities.csv
outputdir = /data/github/Sequence-Design/2022_designAnalysisScripts/gasright_data
datafile = /data/github/Sequence-Design/2022_designAnalysisScripts/gasright_data/gasright_CATM_fixed_compiledEnergies.csv
numseqs = 10