[ngsReconstruction]
programname = ngsAnalysis
outputdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/CHIP2_rerun_with_maltose/
extractiondir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/CHIP2_rerun_with_maltose/data/
datadir = /home/loiseau@ad.wisc.edu/2023-11-14_NGS/unzipped/fwd/
requirementsfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/CHIP2_rerun_with_maltose/inputFiles/requirements.txt
fastqtotxt = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/code/fastqToTxt.pl
ngsanalysis = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/code/ngsAnalysis.py
energyanalysis = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/code/energyAnalysis.py
analyzeenergies = True
percentfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/CHIP2_rerun_with_maltose/allPercents.csv
countfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/CHIP2_rerun_with_maltose/allCounts.csv
reffile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/CHIP2_rerun_with_maltose/inputFiles/refSeqs.csv
namesfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/CHIP2_rerun_with_maltose/inputFiles/dataFilenames.csv
gpa = LIIFGVMAGVIGT
g83i = LIIFGVMAIVIGT

[ngsAnalysis]
inputdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/CHIP2_rerun_with_maltose/data/
outputdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/CHIP2_rerun_with_maltose/reconstructedData/
countfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/CHIP2_rerun_with_maltose/Count.csv
percentfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/CHIP2_rerun_with_maltose/Percentage.csv
flowfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/CHIP2_rerun_with_maltose/inputFiles/flowFile_sort_percents.csv
reconstructionfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/CHIP2_rerun_with_maltose/reconstructedData/reconstructionAllData.csv
countdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/CHIP2_rerun_with_maltose/reconstructedData/reconstruction_by_count/
percentdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/CHIP2_rerun_with_maltose/reconstructedData/reconstruction_by_percent/
gpa = LIIFGVMAGVIGT
g83i = LIIFGVMAIVIGT
gpafluor = 67722
g83ifluor = 21507
noTMfluor = 17870
maltosetestdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/CHIP2_rerun_with_maltose/reconstructedData/maltoseTest/
maltosecutoff = -95

[energyAnalysis]
outputdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/CHIP2_rerun_with_maltose/reconstructedData/energyAnalysis/
energyfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/CHIP2_rerun_with_maltose/inputFiles/chipEnergyFile.csv
reconstructionfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/CHIP2_rerun_with_maltose/reconstructedData/reconstructionAllData.csv

