[main]
data_file = /mnt/d/github/Sequence-Design/voidAnalysis/CHIPSeqs.csv.csv
raw_data_dir = 2023-3-13_alaDesigns
compile_file = 2023-3-13_alaDesigns_void_compiled.csv
file_to_compile = sasaMap.csv
delimiter = ,
appended_file = 2023-3-13_alaDesigns_void_extended.csv
one_hot_file = 2023-3-13_alaDesigns_void_interface_mutants.csv
one_hot_columns = Mutant Sequence
analyze_file = 2023-3-13_alaDesigns_void_CHIP2Seqs.csv
output_dir = /mnt/d/github/Sequence-Design/voidAnalysis/2023-3-13_alaDesigns_void

