[main]
outputDir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/fluorescenceAnalysis/analysis_with_toxgreenSeqs_CHIP2_rerun
requirementsfile = requirements.txt
inputDir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/fluorescenceAnalysis/inputFiles
reconstructionFile = reconstructionAllData_rerun.csv
wtSequenceComputationFile = chipEnergyFile.csv
mutantSequenceComputationFile = allMutants.csv
scriptDir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/fluorescenceAnalysis/code
adjustFluorScript = adjustFluorByControlFlow_percentGpA_stdFix.py
#controlFlowFile = 2023-8-18_controlFlow_no2H11.csv
#controlFlowFile = controlFlow.csv
controlFlowFile = controlToxgreen_withSeqs_no0.csv
filteringScript = filterWithComputation_percentGpA_stdFix.py
filteringDir = filtered
graphingDir = graphed
sequenceVsMutantScript = sequenceVsMutant.py
seqDir = sequenceVsMutant
graphScript = graphComputationVsExperiment.py
graphScript2 = graphDesignWts.py
runAdjustFluor = True
runFilterWithComputation = True 
runSequenceVsMutant = true 
runFilterBeforeGraphing = True 
runGraphing = True 
#runAdjustFluor = false 
#runFilterWithComputation = false 
#runSequenceVsMutant = false 
#runFilterBeforeGraphing = True 
#runGraphing = True 