[main]
outputdir = /mnt/d/github/Sequence-Design/2022_designAnalysisScripts/2022-11-20_gblock/calcEnergy/data_originalGblockSeqs
rawdatadir = /mnt/c/Users/gjowl/Downloads/2023-2-7_calcEnergy_normalSeqs/
datafile = /mnt/d/github/Sequence-Design/2022_designAnalysisScripts/2022-11-20_gblock/calcEnergy/data_originalGblockSeqs/2023-2-7_calcEnergy_normalSeqs.csv
toxgreenfile = /mnt/d/github/Sequence-Design/2022_designAnalysisScripts/2022-11-20_gblock/calcEnergy/data/toxgreen.csv
requirementsfile = /mnt/d/github/Sequence-Design/2022_designAnalysisScripts/2022-11-20_gblock/calcEnergy/requirements.txt

