[main]
kdefile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/designAnalysisScripts/inputFiles/2020_09_23_kdeData.csv
seqentropyfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/designAnalysisScripts/inputFiles/2021_12_05_seqEntropies.csv
sequenceprobabilitiesfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/designAnalysisScripts/inputFiles/2021_12_05_sequenceProbabilities.csv
requirementsfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/designAnalysisScripts/inputFiles/requirements.txt
compileenergyscript = /home/loiseau@ad.wisc.edu/github/Sequence-Design/designAnalysisScripts/code/compileEnergyFiles.py
designanalysisscript = /home/loiseau@ad.wisc.edu/github/Sequence-Design/designAnalysisScripts/code/analyzeDesignData.py
createpsescript = /home/loiseau@ad.wisc.edu/github/Sequence-Design/designAnalysisScripts/code/createPymolSessionFiles.py
outputdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/designAnalysisScripts/2023-3-13_alaDesigns
rawdatadir = /home/loiseau@ad.wisc.edu/senesDrive/General/data/data02/gloiseau/2020-2024_Sequence_Design_Project/2022-2023_DesignData/2023-3-13_alaDesigns
datafile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/designAnalysisScripts/2023-3-13_alaDesigns/compiledData.csv
numseqs = 10

