[main]
kdefile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/designAnalysisScripts/inputFiles/2020_09_23_kdeData.csv
seqentropyfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/designAnalysisScripts/inputFiles/2021_12_05_seqEntropies.csv
sequenceprobabilitiesfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/designAnalysisScripts/inputFiles/2021_12_05_sequenceProbabilities.csv
requirementsfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/designAnalysisScripts/inputFiles/requirements.txt
compileenergyscript = /home/loiseau@ad.wisc.edu/github/Sequence-Design/designAnalysisScripts/code/compileEnergyFiles.py
designanalysisscript = /home/loiseau@ad.wisc.edu/github/Sequence-Design/designAnalysisScripts/code/analyzeDesignData.py
createpsescript = /home/loiseau@ad.wisc.edu/github/Sequence-Design/designAnalysisScripts/code/createPymolSessionFiles.py
outputdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/designAnalysisScripts/gasright_JC
rawdatadir = /home/loiseau@ad.wisc.edu/Downloads/gasright_JC
datafile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/designAnalysisScripts/gasright_JC/compiledData.csv
numseqs = 10
file_to_compile = energyFile.csv

