[main]
programname = ngsAnalysis
outputdir = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP1/data/
datadir = /mnt/d/2022-5-13/
requirementsfile = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP1/inputFiles/requirements.txt
fastqtotxt = /mnt/d/github/Sequence-Design/ngsReconstruction/code/fastqToTxt.pl
ngsanalysis = /mnt/d/github/Sequence-Design/ngsReconstruction/code/ngsAnalysis.py
energyanalysis = /mnt/d/github/Sequence-Design/ngsReconstruction/code/energyAnalysis.py
analyzeenergies = True
percentfile = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP1/allPercents.csv
countfile = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP1/allCounts.csv
reffile = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP1/inputFiles/refSeqs.csv
namesfile = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP1/inputFiles/dataFilenames.csv

[ngsAnalysis]
inputdir = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP1/data/
outputdir = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP1/analyzedData/
countfile = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP1/allCounts.csv
percentfile = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP1/allPercents.csv
flowfile = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP1/inputFiles/flowFile.csv
reconstructionfile = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP1/analyzedData/reconstructionAllData.csv
countdir = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP1/analyzedData/reconstruction_by_count/
percentdir = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP1/analyzedData/reconstruction_by_percent/
gpafluor = 109804.5
g83ifluor = 39740
maltosetestdir = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP1/analyzedData/maltoseTest/
maltosecutoff = -95

[energyAnalysis]
outputdir = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP1/analyzedData/energyAnalysis/
energyfile = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP1/inputFiles/chipEnergyFile.csv
reconstructionfile = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP1/analyzedData/reconstructionAllData.csv

