[main]
kdefile = /mnt/d/github/Sequence-Design/rosettaSetup/inputFiles/2020_09_23_kdeData.csv
seqentropyfile = /mnt/d/github/Sequence-Design/rosettaSetup/inputFiles/2021_12_05_seqEntropies.csv
sequenceprobabilitiesfile = /mnt/d/github/Sequence-Design/rosettaSetup/inputFiles/2021_12_05_sequenceProbabilities.csv
requirementsfile = /mnt/d/github/Sequence-Design/rosettaSetup/inputFiles/requirements.txt
untarfoldersscript = /mnt/d/github/Sequence-Design/rosettaSetup/code/untarFolders.py
extractscorescript = /mnt/d/github/Sequence-Design/rosettaSetup/code/extractScoreFiles.py
convertscorescript = /mnt/d/github/Sequence-Design/rosettaSetup/code/convertScoreFileToCsv.py
analyzescorescript = /mnt/d/github/Sequence-Design/rosettaSetup/code/analyzeScoreFiles.py
outputdir = /mnt/d/github/Sequence-Design/rosettaSetup/gblock_rosetta
rawdatadir = /mnt/c/Users/gjowl/Downloads/gblock_rosetta
scoredir = /mnt/d/github/Sequence-Design/rosettaSetup/gblock_rosetta/scoreFiles
analysisdir = /mnt/d/github/Sequence-Design/rosettaSetup/gblock_rosetta/analysis
datafile = /mnt/d/github/Sequence-Design/rosettaSetup/gblock_rosetta/compiledData.csv
numseqs = 50

