[main]
outputdir = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/test/data/
datadir = /data02/jchoi/NGS Submissions/200812/Raw Data/
requirementsfile = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/test/inputFiles/requirements.txt
fastqtotxt = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/test/fastqTotxt.py
ngsanalysis = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/test/ngsAnalysis.py
percentfile = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/test/inputFiles/allPercents.csv
countfile = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/test/inputFiles/allCounts.csv

[fastqTotxt]
gpa = LIIFGVMAGVIG
g83i = LIIFGVMAIVIG
fprimer = GGCTCCAAACTTGGGGAATCG
rprimer = CCTGATCAACCCAAGCCAATCC
reffile = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/test/CheatRefSeqs.csv
outputdir = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/test/data/

[ngsAnalysis]
inputdir = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/test/data/
outputdir = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/test/analyzedData/
countfile = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/test/inputFiles/allCounts.csv
percentfile = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/test/inputFiles/allPercents.csv
flowfile = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/test/inputFiles/flowFile.csv

