[main]
outputdir = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/test/output/
datadir = /data02/jchoi/NGS Submissions/200812/Raw Data/
requirementsfile = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/test/requirements.txt
fastqtotxt = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/test/fastqTotxt.py
ngsanalysis = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/test/ngsAnalysis.py
testdir = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/test/
outputfile = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/test/allCounts_withIds.csv

[fastqTotxt]
gpa = LIIFGVMAGVIG
g83i = LIIFGVMAIVIG
fprimer = GGCTCCAAACTTGGGGAATCG
rprimer = CCTGATCAACCCAAGCCAATCC
reffile = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/test/CheatRefSeqs.csv
outputdir = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/test/output/
outputfile = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/test/allCounts_withIds.csv

[ngsAnalysis]
inputdir = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/test/output/
outputdir = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/test/
countfile = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/test/allCounts_withIds.csv
flowfile = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/test/flowFile.csv

