[hbondAnalysis]
codeDir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/analyses/hbondAnalysis/code
pseDir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/analyses/figureMaking/2024-2-12_noCutoff/interfacePdbs/pse/
outputDir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/analyses/hbondAnalysis/2024-2-13_analysis_noCutoff_3.5
hbondFile = hbondFile
plotDataFile = plotDataFile
dataFile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/analyses/figureMaking/2024-2-12_noCutoff/wt_merge_leu.csv
requirementsfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/2022-2023_gblock/calcEnergy/requirements.txt
hbondDistance = 3