[hbondAnalysis]
codeDir = /mnt/d/github/Sequence-Design/CHIP2/analyses/hbondAnalysis/code
pseDir = /mnt/d/github/Sequence-Design/CHIP2/analyses/figureMaking/2024-2-12_noCutoff/interfacePdbs/pse/
outputDir = /mnt/d/github/Sequence-Design/CHIP2/analyses/hbondAnalysis/2024-2-13_analysis_noCutoff_3
hbondFile = hbondFile
plotDataFile = plotDataFile
dataFile = /mnt/d/github/Sequence-Design/CHIP2/analyses/figureMaking/2024-2-12_noCutoff/wt_merge_leu.csv
requirementsfile = /mnt/d/github/Sequence-Design/2022-2023_gblock/calcEnergy/requirements.txt
hbondDistance = 3