[runAllAnalysis]
toxgreenConversion = toxgreenConversion.py
pdbOptimizationAnalysis = pdbOptimizationAnalysis.py
sequenceAnalysis = sequenceAnalysis.py
hbondAnalysis = hbondAnalysis.py
structureAnalysis = structureAnalysis.py
outputDir = /mnt/d/github/Sequence-Design/CHIP2/2024-7-7_updatedRepacks/
analysisCodeDir = analyses
runToxgreenConversion = false
runPdbOptimizationAnalysis = true
runSequenceAnalysis = true
runStructureAnalysis = false
runHbondAnalysis = false
helperScript = /mnt/d/github/Sequence-Design/CHIP2/analyses/helperCode.py

[toxgreenConversion]
requirementsfile = requirements.txt
inputDir = /mnt/d/github/Sequence-Design/CHIP2/analyses/toxgreenConversion/inputFiles
reconstructionFile = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP2_rerun_with_maltose/reconstructedData/reconstructionAllData.csv
wtSequenceComputationFile = chipEnergyFile.csv
mutantSequenceComputationFile = allMutants.csv
scriptDir = /mnt/d/github/Sequence-Design/CHIP2/analyses/toxgreenConversion/code
adjustFluorScript = adjustFluorByControlFlow_percentGpA_stdFix_fluor.py
controlFlowFile = 2023-11-4_controlToxgreen.csv
filteringScript = filterWithComputation_percentGpA_stdFix.py
filteringDir = filtered
graphingDir = graphed
sequenceVsMutantScript = sequenceVsMutant.py
seqDir = sequenceVsMutant
graphScript = graphComputationVsExperiment.py
graphScript2 = graphDesignWts.py
runAdjustFluor = true 
runFilterWithComputation = true
runSequenceVsMutant = true
runFilterBeforeGraphing = true 
runGraphing = true 

[pdbOptimizationAnalysis]
codeDir = /mnt/d/github/Sequence-Design/CHIP2/analyses/pdbOptimizationAnalysis/code
inputDir = /mnt/d/github/Sequence-Design/CHIP2/analyses/pdbOptimizationAnalysis/inputFiles
scriptDir = /mnt/d/github/Sequence-Design/CHIP2/analyses/pdbOptimizationAnalysis/code
rawdatadir = /mnt/d/2024-6-12_CHIP2_optimized_data/CHIP2_all/
datafile = leu_data
mutantFile = /mnt/d/github/Sequence-Design/CHIP2/2024-7-7_updatedRepacks/toxgreenConversion/filtered/mutant_fluor_energy_data.csv
sequenceFile = /mnt/d/github/Sequence-Design/CHIP2/2024-7-7_updatedRepacks/toxgreenConversion/filtered/sequence_fluor_energy_data.csv
toxgreenFile = /mnt/d/github/Sequence-Design/CHIP2/2024-7-7_updatedRepacks/toxgreenConversion/filtered/all.csv
strippedSequenceFile = strippedSequenceFile
requirementsfile = /mnt/d/github/Sequence-Design/2022-2023_gblock/calcEnergy/requirements.txt
clashScript = /mnt/d/github/Sequence-Design/CHIP2/analyses/pdbOptimizationAnalysis/code/keepBestClashing_v2.py
kdeFile = /mnt/d/github/Sequence-Design/CHIP2/analyses/pdbOptimizationAnalysis/inputFiles/2020_09_23_kdeData.csv
mutant_cutoff = 0, 0.35, 0.4, 0.45, 0.5, 0.55, 0.6
percent_cutoff = 0
number_of_mutants_cutoff = 0
maltoseFile = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP2_rerun_with_maltose/reconstructedData/maltoseTest/percentDifference.csv
maltoseCol = LB-0H_M9-30H
maltoseSeq = VVATSLVVLTLGVLLAFL

[sequenceAnalysis]
codeDir = /mnt/d/github/Sequence-Design/CHIP2/analyses/sequenceAnalysis/code
clashDir = /mnt/d/github/Sequence-Design/CHIP2/2024-7-7_updatedRepacks/pdbOptimizationAnalysis/
requirementsfile = /mnt/d/github/Sequence-Design/2022-2023_gblock/calcEnergy/requirements.txt
sequenceCsv = wt/dataForSeqAnalysis.csv
mutantCsv = mutant/dataForSeqAnalysis.csv
toxgreenFile = /mnt/d/github/Sequence-Design/CHIP2/2024-7-7_updatedRepacks/toxgreenConversion/filtered/all.csv