[ngsReconstruction]
programname = ngsAnalysis
extractiondir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/JC_CHIP2_rerun/data/
outputdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/JC_CHIP2_rerun/
datadir = /home/loiseau@ad.wisc.edu/senesDrive/General/data/data02/gloiseau/JC_data/fwd/
requirementsfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/JC_CHIP2_rerun/inputFiles/requirements.txt
fastqtotxt = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/code/fastqToTxt.pl
ngsanalysis = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/code/ngsAnalysis.py
energyanalysis = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/code/energyAnalysis.py
analyzeenergies = False
percentfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/JC_CHIP2_rerun/Percentage.csv
countfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/JC_CHIP2_rerun/Count.csv
reffile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/JC_CHIP2_rerun/inputFiles/refSeqs.csv
namesfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/JC_CHIP2_rerun/inputFiles/dataFilenames.csv
gpa = LIIFGVMAGVIGT
g83i = LIIFGVMAIVIGT

[ngsAnalysis]
inputdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/JC_CHIP2_rerun/data/
outputdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/JC_CHIP2_rerun/analyzedData/
countfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/JC_CHIP2_rerun/Count.csv
percentfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/JC_CHIP2_rerun/Percentage.csv
flowfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/JC_CHIP2_rerun/inputFiles/flow_flowFile.csv
reconstructionfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/JC_CHIP2_rerun/analyzedData/reconstructionAllData.csv
countdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/JC_CHIP2_rerun/analyzedData/reconstruction_by_count/
percentdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/JC_CHIP2_rerun/analyzedData/reconstruction_by_percent/
gpa = LIIFGVMAGVIGT
g83i = LIIFGVMAIVIGT
gpafluor = 67960
g83ifluor = 23514
noTMfluor = 9754
maltosetestdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/JC_CHIP2_rerun/analyzedData/maltoseTest/
maltosecutoff = -95

[energyAnalysis]
outputdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/JC_CHIP2_rerun/analyzedData/energyAnalysis/
energyfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/JC_CHIP2_rerun/inputFiles/chipEnergyFile.csv
reconstructionfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/JC_CHIP2_rerun/analyzedData/reconstructionAllData.csv

