[main]
outputdir = /data/github/Sequence-Design/2022_designAnalysisScripts/CHIP1_reanalysis/calcEnergy/CHIP1_data_alaEnds
rawdatadir = /data02/gloiseau/Sequence_Design_Project/CHIP1_DesignData/2023-2-14_calcEnergyCHIP1_alaEnds/
datafile = /data/github/Sequence-Design/2022_designAnalysisScripts/CHIP1_reanalysis/calcEnergy/CHIP1_data_alaEnds/2023-2-14_calcEnergyCHIP1_alaEnds.csv
toxgreenfile = /data/github/Sequence-Design/2022_designAnalysisScripts/CHIP1_reanalysis/calcEnergy/designs_with_energyDiff.csv
requirementsfile = /data/github/Sequence-Design/2022_designAnalysisScripts/CHIP1_reanalysis/calcEnergy/requirements.txt

