[pdbOptimizationAnalysis]
codedir = /mnt/d/github/Sequence-Design/CHIP2/analyses/pdbOptimizationAnalysis/code
inputdir = /mnt/d/github/Sequence-Design/CHIP2/JC_CHIP4/pdbOptimizationAnalysis/inputFiles
scriptdir = /mnt/d/github/Sequence-Design/CHIP2/analyses/pdbOptimizationAnalysis/code
rawdatadir = /mnt/d/senesDrive/General/data/data02/gloiseau/JC_data/JC_design_data/pdbs_repacked_leucine_ends/JC_wt/
sequencefile = sequence_fluor_energy_data.csv
mutantfile = mutant_fluor_energy_data.csv
toxgreenfile = all.csv
requirementsfile = requirements.txt
clashscript = /mnt/d/github/Sequence-Design/CHIP2/analyses/pdbOptimizationAnalysis/code/keepBestClashing.py
clashinputdir = /mnt/d/github/Sequence-Design/CHIP2/JC_CHIP4/toxgreenConversion/sequenceVsMutant/all
kdefile = 2020_09_23_kdeData.csv
mutant_cutoff = 0, 0.35
percent_cutoff = 0, 0.5
number_of_mutants_cutoff = 1
maltosefile = percentDifference.csv
maltoseseq = VVATSLVVLTLGVLLAFL
maltosecol = LB-0H_M9-30H
