[main]
codeDir = /mnt/d/github/Sequence-Design/CHIP2/analyses/voidAnalysis/code
outputdir = /mnt/d/github/Sequence-Design/CHIP2/analyses/voidAnalysis/output_test
requirementsfile = /mnt/d/github/Sequence-Design/2022-2023_gblock/calcEnergy/requirements.txt
voidInputDir = /mnt/d/github/Sequence-Design/CHIP2/fluorescenceAnalysis/analysis_with_toxgreenSeqs_percentGpA/sequenceVsMutant/void