[main]
outputdir = /mnt/d/github/Sequence-Design/2022_designAnalysisScripts/2022-11-20_gblock/calcEnergy/data_alaSeqs
rawdatadir = /mnt/c/Users/gjowl/Downloads/alaSeqs/
datafile = /mnt/d/github/Sequence-Design/2022_designAnalysisScripts/2022-11-20_gblock/calcEnergy/data_alaSeqs/alaSeqs.csv
toxgreenfile = /mnt/d/github/Sequence-Design/2022_designAnalysisScripts/2022-11-20_gblock/calcEnergy/data/toxgreen.csv
requirementsfile = /mnt/d/github/Sequence-Design/2022_designAnalysisScripts/2022-11-20_gblock/calcEnergy/requirements.txt

