[main]
input_file = /mnt/d/github/Sequence-Design/2023_designData/2023-3-7_leuDesigns/allData.csv
output_dir = /mnt/d/github/Sequence-Design/clusterAnalysis/2023-3-7_leuDesigns
cluster_script = /mnt/d/github/Sequence-Design/clusterAnalysis/code/clusterPipeline.py
regression_script = /mnt/d/github/Sequence-Design/clusterAnalysis/code/linearRegression.py
cluster_cols = endXShift,endCrossingAngle,endAxialRotation,endZShift,VDWDiff,HBONDDiff,IMM1Diff,Total

