[main]
requirementsfile = /mnt/d/github/Sequence-Design/extractRosettaPdbsForCalcEnergy/requirements.txt
inputdir = /mnt/c/Users/gjowl/Downloads/gblock_rosetta_rerun
untarfolders = /mnt/d/github/Sequence-Design/extractRosettaPdbsForCalcEnergy/code/untarFolders.py
addpdbstodir = /mnt/d/github/Sequence-Design/extractRosettaPdbsForCalcEnergy/code/addPdbsToDir.py
createcalcenergycsv = /mnt/d/github/Sequence-Design/extractRosettaPdbsForCalcEnergy/code/createCalcEnergyCsv.py
deleteexcessinfo = /mnt/d/github/Sequence-Design/extractRosettaPdbsForCalcEnergy/code/deleteExcessInfoFromPDB.py
outputdir = /mnt/d/github/Sequence-Design/extractRosettaPdbsForCalcEnergy/gblock_rosetta_rerun
extractiondir = /mnt/d/github/Sequence-Design/extractRosettaPdbsForCalcEnergy/gblock_rosetta_rerun/gblock_rosetta_rerun_extracted
pdbdir = /mnt/d/github/Sequence-Design/extractRosettaPdbsForCalcEnergy/gblock_rosetta_rerun/gblock_rosetta_rerun_pdbs
outputfile = gblock_rosetta_rerun_calcEnergy.csv

