[main]
requirementsfile = /mnt/d/github/Sequence-Design/extractRosettaPdbsForCalcEnergy/requirements.txt
inputdir = /mnt/c/Users/gjowl/Downloads/gblock_native
untarfolders = /mnt/d/github/Sequence-Design/extractRosettaPdbsForCalcEnergy/code/untarFolders.py
addpdbstodir = /mnt/d/github/Sequence-Design/extractRosettaPdbsForCalcEnergy/code/addPdbsToDir.py
createcalcenergycsv = /mnt/d/github/Sequence-Design/extractRosettaPdbsForCalcEnergy/code/createCalcEnergyCsv.py
deleteexcessinfo = /mnt/d/github/Sequence-Design/extractRosettaPdbsForCalcEnergy/code/deleteExcessInfoFromPDB.py
outputdir = /mnt/d/github/Sequence-Design/extractRosettaPdbsForCalcEnergy/gblock_native
extractiondir = /mnt/d/github/Sequence-Design/extractRosettaPdbsForCalcEnergy/gblock_native/gblock_native_extracted
pdbdir = /mnt/d/github/Sequence-Design/extractRosettaPdbsForCalcEnergy/gblock_native/gblock_native_pdbs
outputfile = gblock_native_calcEnergy.csv

