[main]
outputdir = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData/
codedir = /exports/home/gloiseau/github/Sequence-Design/Analysis_Scripts/repackAnalysis
compiledatascript = /exports/home/gloiseau/github/Sequence-Design/Analysis_Scripts/repackAnalysiscompileOptimizationDataFiles.py
analyzedatascript = /exports/home/gloiseau/github/Sequence-Design/Analysis_Scripts/repackAnalysisbackboneOptimizationAnalysis.py
preparechipscript = /exports/home/gloiseau/github/Sequence-Design/Analysis_Scripts/repackAnalysisprepareCHIP.py
requirementsfile = /exports/home/gloiseau/github/Sequence-Design/Analysis_Scripts/repackAnalysisrequirements.txt
outfile = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData/compiledOptimizationData.csv

[compileOptimizationDataFiles]
outputdir = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData/
datadir = /data02/gloiseau/Sequence_Design_Project/Design_Data/12_06_2021_CHIP1_Dataset/
outfile = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData/compiledOptimizationData.csv

[backboneOptimizationAnalysis]
outputdir = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData/
plotdir = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData/Plots/
energylimit = -5
densitylimit = 0.7
listaa = A,F,G,I,L,S,T,V,W,Y
datafile = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData/compiledOptimizationData.csv
outfile = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData/backboneOptimizationAnalysis.xlsx
kdefile = /data02/gloiseau/Sequence_Design_Project/Design_Data/2020_09_23_kdeData.csv
numsequences = 5
totalsegments = 20
sequenceperbin = 80
sequencespersegment = 500
numrandom = 60
redundant = True
seed = 1

[prepareCHIP]
outputdir = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData/
inputfile = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData/backboneOptimizationAnalysis.xlsx
primerfile = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData/Primers.csv
outputfile = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData/CHIP.xlsx
seed = 1

