[main]
codeDir = /mnt/d/github/Sequence-Design/CHIP2/analyses/figureMaking/code
rawDataDirAla = /mnt/d/github/2023-8-28_pdbBBRepack/ala_mutants
rawDataDirLeu = /mnt/d/github/2023-8-28_pdbBBRepack/leu_mutants
optimizedPdbDir = /mnt/d/2023-8-28_pdbBBRepack/
outputDir = /mnt/d/github/Sequence-Design/CHIP2/analyses/figureMaking/2023-11-29_mutants
outputFile = mutant_merge
sequenceFile = /mnt/d/github/Sequence-Design/CHIP2/analyses/pdbOptimizationAnalysis/leu_clashAnalysis_rerun/clash_35_50_1/mutant.csv
dataFile = /mnt/d/github/Sequence-Design/CHIP2/analyses/pdbOptimizationAnalysis/leu_clashAnalysis_rerun/leu_data_percentGpa.csv
interfaceFile = /mnt/d/github/Sequence-Design/CHIP2/analyses/figureMaking/inputFiles/interfaceDataFile.csv
requirementsfile = /mnt/d/github/Sequence-Design/2022-2023_gblock/calcEnergy/requirements.txt
