[aaLinePlotter]
sequenceFile = /mnt/d/github/Sequence-Design/CHIP2/analyses/figureMaking/2023-11-29_wts/wt_merge.csv
outputDir = /mnt/d/github/Sequence-Design/CHIP2/analyses/figureMaking/2023-11-29_wts/aaLinePlots
codeDir = /mnt/d/github/Sequence-Design/CHIP2/analyses/figureMaking/code
percentGpaCutoffs = 0.75, 0.5, 0.35
cutoffs = 0.25, 0.25, 0.00
number_of_labels = 5, 3, 1