[main]
codeDir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/analyses/figureMaking/code
rawDataDirAla = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/2023-3-13_ala/pdbs
rawDataDirLeu = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/2023-3-7_leu/pdbs
optimizedPdbDir = /home/loiseau@ad.wisc.edu/2023-8-28_pdbBBRepack/all_leu_wts
outputDir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/analyses/figureMaking/wt_cpsf
outputFile = wt_merge
sequenceFile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/analyses/pdbOptimizationAnalysis/leu_all_stdFix/clashData/wt.csv
dataFile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/analyses/pdbOptimizationAnalysis/leu_all_stdFix/leu_data_percentGpa.csv
interfaceFile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/analyses/figureMaking/inputFiles/interfaceDataFile.csv
requirementsfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/2022-2023_gblock/calcEnergy/requirements.txt
