[main]
codeDir = /mnt/d/github/Sequence-Design/CHIP2/analyses/figureMaking/code
rawDataDirAla = /mnt/d/github/Sequence-Design/CHIP2/2023-3-13_ala/pdbs
rawDataDirLeu = /mnt/d/github/Sequence-Design/CHIP2/2023-3-7_leu/pdbs
optimizedPdbDir = /mnt/d/2023-8-28_pdbBBRepack/all_leu_wts
outputDir = /mnt/d/github/Sequence-Design/CHIP2/analyses/figureMaking/wt_cpsf
outputFile = wt_merge
sequenceFile = /mnt/d/github/Sequence-Design/CHIP2/analyses/pdbOptimizationAnalysis/leu_all_stdFix/clashData/wt.csv
dataFile = /mnt/d/github/Sequence-Design/CHIP2/analyses/pdbOptimizationAnalysis/leu_all_stdFix/leu_data_percentGpa.csv
interfaceFile = /mnt/d/github/Sequence-Design/CHIP2/analyses/figureMaking/inputFiles/interfaceDataFile.csv
requirementsfile = /mnt/d/github/Sequence-Design/2022-2023_gblock/calcEnergy/requirements.txt
