[runAllAnalysis]
toxgreenConversion = toxgreenConversion.py
pdbOptimizationAnalysis = pdbOptimizationAnalysis.py
sequenceAnalysis = sequenceAnalysis.py
figureMaking = figureMaking.py
hbondAnalysis = hbondAnalysis.py

[toxgreenConversion]
outputDir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/2024-2-18_fullAnalysis/toxgreenConversion/
requirementsfile = requirements.txt
inputDir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/toxgreenConversion/inputFiles
reconstructionFile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/CHIP2_rerun_with_maltose/reconstructedData/reconstructionAllData.csv
wtSequenceComputationFile = chipEnergyFile.csv
mutantSequenceComputationFile = allMutants.csv
scriptDir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/toxgreenConversion/code
adjustFluorScript = adjustFluorByControlFlow_percentGpA_stdFix_fluor.py
controlFlowFile = 2023-11-4_controlToxgreen.csv
filteringScript = filterWithComputation_percentGpA_stdFix.py
filteringDir = filtered
graphingDir = graphed
sequenceVsMutantScript = sequenceVsMutant.py
seqDir = sequenceVsMutant
graphScript = graphComputationVsExperiment.py
graphScript2 = graphDesignWts.py
runAdjustFluor = true 
runFilterWithComputation = true
runSequenceVsMutant = true
runFilterBeforeGraphing = true 
runGraphing = true 

[pdbOptimizationAnalysis]
codeDir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/analyses/pdbOptimizationAnalysis/code
outputdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/2024-2-18_fullAnalysis/analyses/pdbOptimizationAnalysis/
rawdatadir = /home/loiseau@ad.wisc.edu/senesDrive/General/data/data02/gloiseau/2020-2024_Sequence_Design_Project/2022-2024_DesignData/2024-2-18_pdbBBOptimization_reruns/leu_wts/
datafile = leu_data 
toxgreenFile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/2024-2-18_fullAnalysis/toxgreenConversion/filtered/all.csv
strippedSequenceFile = strippedSequenceFile
requirementsfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/2022-2023_gblock/calcEnergy/requirements.txt
clashScript = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/analyses/pdbOptimizationAnalysis/code/keepBestClashing.py
clashInputDir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/2024-2-18_fullAnalysis/toxgreenConversion/sequenceVsMutant/all
kdeFile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/analyses/pdbOptimizationAnalysis/inputFiles/2020_09_23_kdeData.csv
mutant_cutoff = 0, 0.25, 0.30, 0.35, 0.40
percent_cutoff = 0, 0.25, 0.5, .75
number_of_mutants_cutoff = 1, 2
maltoseFile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/CHIP2_rerun_with_maltose/reconstructedData/maltoseTest/percentDifference.csv
maltoseCol = LB-0H_M9-30H

[sequenceAnalysis]
codeDir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/analyses/sequenceAnalysis/code
clashDir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/2024-2-18_fullAnalysis/analyses/pdbOptimizationAnalysis/
outputdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/2024-2-18_fullAnalysis/analyses/sequenceAnalysis/
requirementsfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/2022-2023_gblock/calcEnergy/requirements.txt
sequenceFile = wt/plotData.csv
mutantFile = mutant/lowestEnergySequences.csv

[figureMaking]
codeDir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/analyses/figureMaking/code/
rawDataDirLeu = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/2023-3-7_leu/pdbs
rawDataDirAla = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/2023-3-13_ala/pdbs
optimizedPdbDirLeu = /home/loiseau@ad.wisc.edu/senesDrive/General/data/data02/gloiseau/2020-2024_Sequence_Design_Project/2022-2024_DesignData/2024-2-18_pdbBBOptimization_reruns/leu_wts/ 
optimizedPdbDirAla = /home/loiseau@ad.wisc.edu/senesDrive/General/data/data02/gloiseau/2020-2024_Sequence_Design_Project/2022-2024_DesignData/2024-2-18_pdbBBOptimization_reruns/leu_wts/ 
outputDir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/gjl_test/analyses/figureMaking/
outputFile = wt_merge
percentGpACutoff = 0
sequenceFile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/gjl_test/analyses/pdbOptimizationAnalysis/clash_35_50_1/wt.csv
dataFile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/gjl_test/analyses/pdbOptimizationAnalysis/leu_data_percentGpa_maltose.csv
interfaceFile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/analyses/figureMaking/inputFiles/interfaceDataFile.csv
requirementsfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/2022-2023_gblock/calcEnergy/requirements.txt

[hbondAnalysis]
codeDir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/analyses/hbondAnalysis/code
pseDir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/gjl_test/analyses/figureMaking/interfacePdbs/pse/
outputDir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/gjl_test/analyses/hbondAnalysis/
hbondFile = hbondFile
plotDataFile = plotDataFile
dataFile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/CHIP2/gjl_test/analyses/figureMaking/wt_merge_leu.csv
requirementsfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/2022-2023_gblock/calcEnergy/requirements.txt
hbondDistance = 3