[main]
programname = ngsAnalysis
outputdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/JC_maltose_GJL_GASrights_2024-1/
extractiondir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/JC_maltose_GJL_GASrights_2024-1/data/
datadir = /home/loiseau@ad.wisc.edu/senesDrive/General/data/data02/gloiseau/2020-2024_Sequence_Design_Project/JC_maltose/unzipped/fwd/
requirementsfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/JC_maltose_GJL_GASrights_2024-1/inputFiles/requirements.txt
fastqtotxt = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/code/fastqToTxt.pl
ngsanalysis = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/code/ngsAnalysis.py
energyanalysis = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/code/energyAnalysis.py
analyzeenergies = True
percentfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/JC_maltose_GJL_GASrights_2024-1/allPercents.csv
countfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/JC_maltose_GJL_GASrights_2024-1/allCounts.csv
reffile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/JC_maltose_GJL_GASrights_2024-1/inputFiles/refSeqs.csv
namesfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/JC_maltose_GJL_GASrights_2024-1/inputFiles/dataFilenames.csv
gpa = LIIFGVMAGVIGT
g83i = LIIFGVMAIVIGT

[ngsAnalysis]
inputdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/JC_maltose_GJL_GASrights_2024-1/data/
outputdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/JC_maltose_GJL_GASrights_2024-1/reconstructedData/
countfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/JC_maltose_GJL_GASrights_2024-1/Count.csv
percentfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/JC_maltose_GJL_GASrights_2024-1/Percentage.csv
flowfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/JC_maltose_GJL_GASrights_2024-1/inputFiles/flowFile_sort_percents.csv
reconstructionfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/JC_maltose_GJL_GASrights_2024-1/reconstructedData/reconstructionAllData.csv
countdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/JC_maltose_GJL_GASrights_2024-1/reconstructedData/reconstruction_by_count/
percentdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/JC_maltose_GJL_GASrights_2024-1/reconstructedData/reconstruction_by_percent/
gpa = LIIFGVMAGVIGT
g83i = LIIFGVMAIVIGT
gpafluor = 67722
g83ifluor = 21507
noTMfluor = 17870
maltosetestdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/JC_maltose_GJL_GASrights_2024-1/reconstructedData/maltoseTest/
maltosecutoff = -95

[energyAnalysis]
outputdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/JC_maltose_GJL_GASrights_2024-1/reconstructedData/energyAnalysis/
energyfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/JC_maltose_GJL_GASrights_2024-1/inputFiles/chipEnergyFile.csv
reconstructionfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/JC_maltose_GJL_GASrights_2024-1/reconstructedData/reconstructionAllData.csv

