[main]
outputdir = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData
codedir = /exports/home/gloiseau/github/Sequence-Design/Analysis_Scripts/Design_Analysis
compiledatascript = /exports/home/gloiseau/github/Sequence-Design/Analysis_Scripts/Design_Analysis/compileAllDesignEnergyFiles.py
analyzedatascript = /exports/home/gloiseau/github/Sequence-Design/Analysis_Scripts/Design_Analysis/analyzeDesignData.py
requirementsfile = /exports/home/gloiseau/github/Sequence-Design/Analysis_Scripts/Design_Analysis/requirements.txt

[compileAllDesignEnergyFiles]
outputdir = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData
datadir = /data02/gloiseau/Sequence_Design_Project/Design_Data/12_06_2021_CHIP1_Dataset
outfile = /compiledDesignData.csv

[analyzeDesignData]
outputdir = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData
energylimit = -5
densitylimit = 0.7
listaa = ['A', 'F', 'G', 'I', 'L', 'S', 'T', 'V', 'W', 'Y']
datafile = /data02/gloiseau/Sequence_Design_Project/Design_Data/AnalyzedData/compiledDesignData.csv
outfile = /analyzedDesignData.xlsx
kdefile = C:\Users\gjowl\Downloads\2020_09_23_kdeData.csv

