[toxgreenConversion]
requirementsfile = requirements.txt
inputdir = /mnt/d/github/Sequence-Design/CHIP2/JC_CHIP4/toxgreenConversion/inputFiles
reconstructionfile = reconstructionAllData.csv
wtsequencecomputationfile = wtSeqs.csv
mutantsequencecomputationfile = GxxxG_and_C1_N1_to_I.csv
scriptdir = /mnt/d/github/Sequence-Design/CHIP2/analyses/toxgreenConversion/code
adjustfluorscript = adjustFluorByControlFlow_percentGpA_stdFix_fluor.py
controlflowfile = controlToxgreen.csv
filteringscript = filterWithComputation_percentGpA_stdFix_CHIP4.py
filteringdir = filtered
graphingdir = graphed
sequencevsmutantscript = sequenceVsMutant.py
seqdir = sequenceVsMutant
graphscript = graphComputationVsExperiment.py
graphscript2 = graphDesignWts.py
runadjustfluor = true
runfilterwithcomputation = true
runsequencevsmutant = true
runfilterbeforegraphing = true
rungraphing = true
