[main]
codeDir = /mnt/d/github/Sequence-Design/CHIP2/analyses/figureMaking/code
rawDataDir = /mnt/d/2023-8-28_pdbBBRepack/all_leu_wts/
outputDir = /mnt/d/github/Sequence-Design/CHIP2/analyses/figureMaking/wt
outputFile = wt_merge
sequenceFile = /mnt/d/github/Sequence-Design/CHIP2/analyses/pdbOptimizationAnalysis/leu_all_stdFix/clashData/wt.csv
dataFile = /mnt/d/github/Sequence-Design/CHIP2/analyses/pdbOptimizationAnalysis/leu_all_stdFix/leu_data_percentGpa.csv
interfaceFile = /mnt/d/github/Sequence-Design/CHIP2/analyses/figureMaking/interfaceDataFile.csv
requirementsfile = /mnt/d/github/Sequence-Design/2022-2023_gblock/calcEnergy/requirements.txt