[ngsReconstruction]
programname = ngsAnalysis
outputdir = /mnt/d/github/Sequence-Design/ngsReconstruction/BNIP3/
extractiondir = /mnt/d/github/Sequence-Design/ngsReconstruction/BNIP3/data/
datadir = /mnt/d/2023-11-14_NGS/unzipped/fwd/
requirementsfile = /mnt/d/github/Sequence-Design/ngsReconstruction/BNIP3/inputFiles/requirements.txt
fastqtotxt = /mnt/d/github/Sequence-Design/ngsReconstruction/code/fastqToTxt.pl
ngsanalysis = /mnt/d/github/Sequence-Design/ngsReconstruction/code/ngsAnalysis.py
energyanalysis = /mnt/d/github/Sequence-Design/ngsReconstruction/code/energyAnalysis.py
analyzeenergies = True
percentfile = /mnt/d/github/Sequence-Design/ngsReconstruction/BNIP3/allPercents.csv
countfile = /mnt/d/github/Sequence-Design/ngsReconstruction/BNIP3/allCounts.csv
reffile = /mnt/d/github/Sequence-Design/ngsReconstruction/BNIP3/inputFiles/refSeqs.csv
namesfile = /mnt/d/github/Sequence-Design/ngsReconstruction/BNIP3/inputFiles/dataFilenames.csv
gpa = LIIFGVMAGVIGT
g83i = LIIFGVMAIVIGT

[ngsAnalysis]
inputdir = /mnt/d/github/Sequence-Design/ngsReconstruction/BNIP3/data/
outputdir = /mnt/d/github/Sequence-Design/ngsReconstruction/BNIP3/reconstructedData/
countfile = /mnt/d/github/Sequence-Design/ngsReconstruction/BNIP3/Count.csv
percentfile = /mnt/d/github/Sequence-Design/ngsReconstruction/BNIP3/Percentage.csv
flowfile = /mnt/d/github/Sequence-Design/ngsReconstruction/BNIP3/inputFiles/flowFile_sort_percents.csv
reconstructionfile = /mnt/d/github/Sequence-Design/ngsReconstruction/BNIP3/reconstructedData/reconstructionAllData.csv
countdir = /mnt/d/github/Sequence-Design/ngsReconstruction/BNIP3/reconstructedData/reconstruction_by_count/
percentdir = /mnt/d/github/Sequence-Design/ngsReconstruction/BNIP3/reconstructedData/reconstruction_by_percent/
gpa = LIIFGVMAGVIGT
g83i = LIIFGVMAIVIGT
gpafluor = 67722
g83ifluor = 21507
noTMfluor = 17870
maltosetestdir = /mnt/d/github/Sequence-Design/ngsReconstruction/BNIP3/reconstructedData/maltoseTest/
maltosecutoff = -95

[energyAnalysis]
outputdir = /mnt/d/github/Sequence-Design/ngsReconstruction/BNIP3/reconstructedData/energyAnalysis/
energyfile = /mnt/d/github/Sequence-Design/ngsReconstruction/BNIP3/inputFiles/chipEnergyFile.csv
reconstructionfile = /mnt/d/github/Sequence-Design/ngsReconstruction/BNIP3/reconstructedData/reconstructionAllData.csv

