[main]
outputDir = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP2/analysis_with_toxgreenSeqs_percentGpA
inputDir = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP2/analysisInputFiles
scriptDir = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP2_analysisCode
graphingDir = graphed_pdbBBRepack
seqDir = sequenceVsMutant
combineDataScript = mergeEnergyAndFluorData.py
graphScript = graphComputationVsExperiment.py
graphScript2 = graphSimilarSequenceEnergies.py