[main]
outputDir = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP2/test_fluor
finalOutputDir = test3
requirementsfile = requirements.txt
inputDir = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP2/analysisInputFiles
reconstructionFile = reconstructionAllData.csv
wtSequenceComputationFile = chipEnergyFile.csv
mutantSequenceComputationFile = allMutants.csv
scriptDir = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP2_analysisCode
adjustFluorScript = adjustFluorByControlFlow.py
controlFlowFile = controlFlow.csv
filteringScript = filterWithComputation.py
filteringDir = filtered
graphingDir = graphed
sequenceVsMutantScript = sequenceVsMutant.py
seqDir = test2
graphScript = graphComputationVsExperiment.py
graphScript2 = graphDesignWts.py
runAdjustFluor = False 
runFilterWithComputation = False
runSequenceVsMutant = true 
runFilterBeforeGraphing = True 
runGraphing = True 