[main]
programname = ngsAnalysis
extractiondir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/CHIP2/data/
outputdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/CHIP2/
datadir = /home/loiseau@ad.wisc.edu/senesDrive/General/data/data02/gloiseau/2020-2024_Sequence_Design_Project/2023_CHIP2_Data/NGS_fastq/
requirementsfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/CHIP2/inputFiles/requirements.txt
fastqtotxt = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/code/fastqToTxt.pl
ngsanalysis = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/code/ngsAnalysis.py
energyanalysis = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/code/energyAnalysis.py
analyzeenergies = False
percentfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/CHIP2/Percentage.csv
countfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/CHIP2/Count.csv
reffile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/CHIP2/inputFiles/refSeqs.csv
namesfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/CHIP2/inputFiles/dataFilenames.csv

[ngsAnalysis]
inputdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/CHIP2/data/
outputdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/CHIP2/analyzedData/
countfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/CHIP2/Count.csv
percentfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/CHIP2/Percentage.csv
flowfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/CHIP2/inputFiles/flowFile_sort_percents.csv
reconstructionfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/CHIP2/analyzedData/reconstructionAllData.csv
countdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/CHIP2/analyzedData/reconstruction_by_count/
percentdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/CHIP2/analyzedData/reconstruction_by_percent/
gpafluor = 67722
g83ifluor = 21507
maltosetestdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/CHIP2/analyzedData/maltoseTest/
maltosecutoff = -95

[energyAnalysis]
outputdir = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/CHIP2/analyzedData/energyAnalysis/
energyfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/CHIP2/inputFiles/chipEnergyFile.csv
reconstructionfile = /home/loiseau@ad.wisc.edu/github/Sequence-Design/ngsReconstruction/CHIP2/analyzedData/reconstructionAllData.csv

