[main]
programname = ngsAnalysis
outputdir = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP2/
extractiondir = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP2/data/
datadir = /mnt/d/2023-7-28_NGS_CHIP2/GJL_fastq/
requirementsfile = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP2/inputFiles/requirements.txt
fastqtotxt = /mnt/d/github/Sequence-Design/ngsReconstruction/code/fastqToTxt_noFwdPrimer.pl
ngsanalysis = /mnt/d/github/Sequence-Design/ngsReconstruction/code/ngsAnalysis.py
energyanalysis = /mnt/d/github/Sequence-Design/ngsReconstruction/code/energyAnalysis.py
analyzeenergies = True
percentfile = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP2/allPercents.csv
countfile = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP2/allCounts.csv
reffile = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP2/inputFiles/refSeqs.csv
namesfile = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP2/inputFiles/dataFilenames.csv

[ngsAnalysis]
inputdir = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP2/data/
outputdir = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP2/analyzedData/
countfile = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP2/Count.csv
percentfile = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP2/Percentage.csv
flowfile = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP2/inputFiles/flowFile.csv
reconstructionfile = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP2/analyzedData/reconstructionAllData.csv
countdir = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP2/analyzedData/reconstruction_by_count/
percentdir = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP2/analyzedData/reconstruction_by_percent/
gpafluor = 67722
g83ifluor = 21507
maltosetestdir = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP2/analyzedData/maltoseTest/
maltosecutoff = -95

[energyAnalysis]
outputdir = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP2/analyzedData/energyAnalysis/
energyfile = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP2/inputFiles/chipEnergyFile.csv
reconstructionfile = /mnt/d/github/Sequence-Design/ngsReconstruction/CHIP2/analyzedData/reconstructionAllData.csv

