[main]
outputdir = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/2022-5-13/output/
datadir = /data/NGS/
requirementsfile = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/2022-5-13/requirements.txt
fastqtotxt = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/2022-5-13/fastqTotxt.py
ngsanalysis = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/2022-5-13/ngsAnalysis.py
testdir = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/2022-5-13/
outputfile = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/2022-5-13/allCounts.csv

[fastqTotxt]
gpa = LIIFGVMAGVIG
g83i = LIIFGVMAIVIG
fprimer = GGCTCCAAACTTGGGGAATCG
rprimer = CCTGATCAACCCAAGCCAATCC
reffile = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/2022-5-13/refSeqs.csv
outputdir = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/2022-5-13/output/
outputfile = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/2022-5-13/allCounts.csv

[ngsAnalysis]
outputdir = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/2022-5-13/
countfile = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/2022-5-13/allCounts.csv
flowfile = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/2022-5-13/flowFile.csv

