[main]
outputdir = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/2022-5-13/data/
datadir = /data/NGS/
requirementsfile = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/2022-5-13/inputFiles/requirements.txt
fastqtotxt = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/2022-5-13/fastqTotxt.pl
ngsanalysis = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/2022-5-13/ngsAnalysis.py
percentfile = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/2022-5-13/inputFiles/allPercents.csv
countfile = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/2022-5-13/inputFiles/allCounts.csv
reffile = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/2022-5-13/inputFiles/refSeqs.csv
namesfile = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/2022-5-13/inputFiles/dataFilenames.csv

[fastqTotxt]
gpa = LIIFGVMAGVIG
g83i = LIIFGVMAIVIG
fprimer = GGCTCCAAACTTGGGGAATCG
rprimer = CCTGATCAACCCAAGCCAATCC
reffile = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/2022-5-13/inputFiles/refSeqs.csv
outputdir = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/2022-5-13/data/

[ngsAnalysis]
inputdir = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/2022-5-13/data/
outputdir = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/2022-5-13/analyzedData/
countfile = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/2022-5-13/inputFiles/allCounts.csv
percentfile = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/2022-5-13/inputFiles/allPercents.csv
flowfile = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/2022-5-13/inputFiles/flowFile.csv
energyfile = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/2022-5-13/inputFiles/chipEnergyFile.csv
countdir = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/2022-5-13/analyzedData/reconstruction_by_count/
percentdir = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/2022-5-13/analyzedData/reconstruction_by_percent/
maltosetestdir = /exports/home/gloiseau/github/Sequence-Design/ngsAnalysis/2022-5-13/analyzedData/maltoseTest/

