[main]
outputdir = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/2022-5-13/output/
datadir = /mnt/d/2022-5-13/
requirementsfile = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/2022-5-13/requirements.txt
fastqtotxt = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/2022-5-13/fastqTotxt.py
ngsanalysis = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/2022-5-13/ngsAnalysis.py
testdir = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/2022-5-13/
outputfile = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/2022-5-13/allCounts.csv

[fastqTotxt]
gpa = LIIFGVMAGVIG
g83i = LIIFGVMAIVIG
fprimer = GGCTCCAAACTTGGGGAATCG
rprimer = CCTGATCAACCCAAGCCAATCC
reffile = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/2022-5-13/CHIP.csv
outputdir = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/2022-5-13/output/
outputfile = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/2022-5-13/allCounts.csv

[ngsAnalysis]
outputdir = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/2022-5-13/
countfile = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/2022-5-13/allCounts.csv
flowfile = /mnt/c/Users/gjowl/github/Sequence-Design/ngsAnalysis/2022-5-13/flowFile.csv

