[main]
programname = ngsAnalysis
extractiondir = /mnt/d/github/Sequence-Design/ngsReconstruction/JC_maltose_2023-12/fwd/data/
outputdir = /mnt/d/github/Sequence-Design/ngsReconstruction/JC_maltose_2023-12/fwd/
datadir = /mnt/d/senesDrive/General/data/data02/gloiseau/JC_data/JC_design_data/JC_maltose_rerun_data/fwd/
requirementsfile = /mnt/d/github/Sequence-Design/ngsReconstruction/JC_maltose_2023-12/inputFiles/requirements.txt
fastqtotxt = /mnt/d/github/Sequence-Design/ngsReconstruction/code/fastqToTxt.pl
ngsanalysis = /mnt/d/github/Sequence-Design/ngsReconstruction/code/ngsAnalysis.py
energyanalysis = /mnt/d/github/Sequence-Design/ngsReconstruction/code/energyAnalysis.py
analyzeenergies = False
percentfile = /mnt/d/github/Sequence-Design/ngsReconstruction/JC_maltose_2023-12/fwd/Percentage.csv
countfile = /mnt/d/github/Sequence-Design/ngsReconstruction/JC_maltose_2023-12/fwd/Count.csv
reffile = /mnt/d/github/Sequence-Design/ngsReconstruction/JC_maltose_2023-12/inputFiles/refSeqs.csv
namesfile = /mnt/d/github/Sequence-Design/ngsReconstruction/JC_maltose_2023-12/inputFiles/dataFilenames.csv

[ngsAnalysis]
inputdir = /mnt/d/github/Sequence-Design/ngsReconstruction/JC_maltose_2023-12/fwd/data/
outputdir = /mnt/d/github/Sequence-Design/ngsReconstruction/JC_maltose_2023-12/fwd/reconstructedData/
countfile = /mnt/d/github/Sequence-Design/ngsReconstruction/JC_maltose_2023-12/fwd/Count.csv
percentfile = /mnt/d/github/Sequence-Design/ngsReconstruction/JC_maltose_2023-12/fwd/Percentage.csv
flowfile = /mnt/d/github/Sequence-Design/ngsReconstruction/JC_maltose_2023-12/inputFiles/flow_flowFile.csv
reconstructionfile = /mnt/d/github/Sequence-Design/ngsReconstruction/JC_maltose_2023-12/fwd/reconstructedData/reconstructionAllData.csv
countdir = /mnt/d/github/Sequence-Design/ngsReconstruction/JC_maltose_2023-12/fwd/reconstructedData/reconstruction_by_count/
percentdir = /mnt/d/github/Sequence-Design/ngsReconstruction/JC_maltose_2023-12/fwd/reconstructedData/reconstruction_by_percent/
gpa = LIIFGVMAGVIGT
g83i = LIIFGVMAIVIGT
gpafluor = 67960
g83ifluor = 23514
noTMfluor = 9754
maltosetestdir = /mnt/d/github/Sequence-Design/ngsReconstruction/JC_maltose_2023-12/fwd/reconstructedData/maltoseTest/
maltosecutoff = -95

[energyAnalysis]
outputdir = /mnt/d/github/Sequence-Design/ngsReconstruction/JC_maltose_2023-12/fwd/reconstructedData/energyAnalysis/
energyfile = /mnt/d/github/Sequence-Design/ngsReconstruction/JC_maltose_2023-12/inputFiles/chipEnergyFile.csv
reconstructionfile = /mnt/d/github/Sequence-Design/ngsReconstruction/JC_maltose_2023-12/fwd/reconstructedData/reconstructionAllData.csv

